[2018-06-06 20:30] gavanderhoorn opened #4 "readme lists tesseract_rviz twice"
The [current version of the readme](https://github.com/ros-industrial-consortium/tesseract/blob/9d3ca9949f3616224dea3aace279e6581835dcf5/README.md) lists the `tesseract_rviz` package twice: once as the last package, and once some lines before that.

I would've fixed this myself, but I don't know which one you'd like to keep @Levi-Armstrong.

[2018-06-07 12:22] #4 closed, assigned to nobody

[2018-08-06 13:10] Jmeyer1292 opened #6 "Thread Safety"
It is a point of open investigation as to whether or not the default bullet collision library provides a thread safe interface in the same way that MoveIt's wrapper around FCL does.

[2018-08-06 13:24] Jmeyer1292 opened #7 "Segfault When Manipulator's Base Link is the URDF Root Frame"
When a planning group has the URDF root frame as its base link (e.g. `world`), the KDL Environment implementations segfault after accessing a null pointer when parsing the URDF for a robot description.

You can re-produce this error by changing the Puzzle Piece SRDF manipulator group's base link to `world`.

[code]

[2018-08-06 13:27] Jmeyer1292 opened #8 "checkJoints Returns True Unconditionally"
The KDL impl of the checkJoints function returns true as long as the size of the joint vector passed in is equal to the expected size. It will print warnings but not return false.

Is this intended behavior?

[2018-08-07 15:18] Jmeyer1292 opened #9 "BasicEnv Base Class Has No Virtual Destructor"
See title. Prevents the proper destruction of objects when manipulating environments through a pointer to the base class.

[2018-08-08 04:02] Jmeyer1292 opened #10 "CartVelJacCalculator Fails Assertions"
I attempted to use the CartVelCntInfo constraint.

[code]

[2018-08-15 22:47] Jmeyer1292 commented on #10
This was mistakenly put here instead of `trajopt_ros`

[2018-08-15 22:47] #10 closed

[2018-08-15 23:43] Jmeyer1292 opened #11 "Scene Builder"
After talking with @Levi-Armstrong , I'd like to remove the working assumption that there is one "core" URDF file that generates a scene and everything else is just "attached".

I propose that we make our own domain specific language around workcell modeling (that could closely follow URDFs example) that offers the following features:
 - The ability to construct the scene entirely through code
 -

[2018-08-16 14:05] gavanderhoorn commented on #11
[Pixar USD](https://graphics.pixar.com/usd/docs/index.html) (emphasis mine):

Something I've been eying for some time now.

Using something existing has the advantage of being able to reuse whatever tooling, experience and assets are available. In an industrial setting, that is a huge thing.

USD doesn't necessarily have that, but other formats do.

[2018-08-28 00:14] arocchi opened #14 "stray NodeHandle instance in kdl_env.cpp"
In the implementation of [KDLEnv, at line 67](https://github.com/ros-industrial-consortium/tesseract/blob/3ce8c8ba252318ee02155401ef1d3d17eed12bc4/tesseract_ros/src/kdl/kdl_env.cpp#L67), there is a stray `NodeHandle` instance.

Is there a specific reason you are forcing `KDLEnv` to be used with a `roscore`? It looks like the class could be useful (and used) even without a `roscore` running.

[2018-08-28 13:07] Levi-Armstrong commented on #14
This is an error.

[2018-08-29 03:03] Levi-Armstrong commented on #14
@arocchi Is it ok to close this issue?

[2018-08-29 17:34] arocchi commented on #14
@Levi-Armstrong thank you!

[2018-08-29 17:34] #14 closed

[2018-08-29 20:41] arocchi opened #19 "kdl_env seems to incorrectly load the ACM from SRDF"
In the implementation of [KDLEnv, at line 150](https://github.com/ros-industrial-consortium/tesseract/blob/3ce8c8ba252318ee02155401ef1d3d17eed12bc4/tesseract_ros/src/kdl/kdl_env.cpp#L150), SRDF's ACM is loaded in a way such that disabled collisions in the SRDF (only) are added as allowed in KDLEnv (basically inverting the ACM).

[code]

[2018-08-30 02:38] #7 closed

[2018-08-30 18:27] Levi-Armstrong commented on #19
The allowed collision matrix in this case only stores if two objects are allowed to be in collision. The naming is a little confusing.

[2018-08-30 21:30] arocchi commented on #19
@Levi-Armstrong thank you, I think I misunderstood. so it's the same as calling `collision_detection::AllowedCollisionMatrix::setEntry(name1, name2, true)` in moveit, so that if the collision pair is  "disabled" it means that the collision is "allowed". I am getting weird results in TrajOpt (from `trajopt_ros`) as it looks like self-collisions are not being checked, so I thought I found the culpri

[2018-08-30 21:30] #19 closed

[2018-09-08 18:48] AndyZe opened #24 "Duplicates in the list of collisions"
Working with collision_monitoring from commit 683f684, it looks like every collision entry is mirrored in the /tesseract_monitoring_contacts/contact_results. Is that desirable? I think once would be enough.

[code]

[2018-09-08 22:43] Levi-Armstrong commented on #24
This should be fixed in the latest version but I need to update the contact monitor. I will take a look and update the monitor. I let you know when it has been updated.

[2018-09-08 22:50] AndyZe commented on #24
Cool. Well I was working on a patch right now, but feel free to close my PR if yours works.

[2018-09-10 02:52] Levi-Armstrong commented on #24
I have upgraded the contact monitor in PR #26 and it appears the latest changes have fixed it, but I have done limited testing so you may want to confirm.

[2018-09-10 18:35] Levi-Armstrong commented on #9
@Jmeyer1292 This ok to close

[2018-09-10 21:44] arocchi opened #27 ""Failed to calculate jacobian" when using KDLJointKin"
it looks to me like `KDLJointKin` does not implement successfully `addAttachedLink` (`parent_link_name` is never stored) and thus also `calcJacobian` (if we request the Jacobian of an attached link it will fail instead of computing the Jacobian of its parent link and then transforming it into the attached link).

The problem became apparent when using TrajOpt with a manipulator with an attached ob

[2018-09-11 02:16] Levi-Armstrong commented on #27
It looks like I did not update this to handle attached links like what is done in the chain library. This should not be to hard to update.

[2018-09-11 14:56] #9 closed

[2018-09-12 15:04] AndyZe commented on #24
Unfortunately I ran into this error while launching the contact monitor. I'm using a Gazebo SIA5 simulation which seems to be fine. I can plan/execute with MoveIt! and echo /joint_states.

[2018-09-13 16:06] Levi-Armstrong commented on #24
This assert is triggered because the the kdl joint tree was passed a set of joints that are adjustable but one of the joints past is not an adjustable joint it is of type none.

[2018-09-21 13:29] Levi-Armstrong commented on #27
I should have PR posted today with a fix I am currently writing some unit tests.

[2018-09-21 13:30] Levi-Armstrong commented on #6
Do you know if this is resolved with the latest changes?

[2018-09-21 14:53] Jmeyer1292 commented on #6
API design now enforces that the user of a tesseract environment calls either of the following functions in the environment base class:
[code]
Each contact manager should be treated as if it is NOT thread safe, but you can make one per thread to share resources efficiently.

[2018-09-21 14:53] #6 closed

[2018-09-24 20:42] Levi-Armstrong commented on #27
@arocchi I believe this issue has been resolved with PR #32 can you confirm?

[2018-09-25 01:38] Jmeyer1292 opened #35 "Thread Safety Part #2"
I'm not sure that all of the threading issues are gone. I absolutely do not discount that the error could be in my code (or likely is), but I wanted to post this notice.

While running some tests with a modified version of Descartes, I noticed that the plans I got back were inconsistent. About 1 in 5 plans returned a slightly different result. Disabling threading seems to fix this. Comparing the p

[2018-10-02 17:13] arocchi commented on #27
confirmed, thanks Levi.

[2018-10-02 17:13] #27 closed

[2018-10-04 23:24] arocchi opened #36 "KDLEnv can cause warnings in pluginlib"
When using `KDLEnv` it often happens to get warning messages like the following
[code]

[2018-10-09 16:31] #36 closed

[2018-10-31 22:34] Levi-Armstrong opened #43 "ROS 2 Support"

[2018-10-31 22:40] Levi-Armstrong commented on #43
@gavanderhoorn I am interested in supporting both ROS 1 and ROS 2 but not sure what is the best/preferred approach. Is it possible to have single branch support both ROS 1 and ROS 2? Also interested in your thoughts about how best to accomplish this.

[2018-11-02 08:00] gavanderhoorn commented on #11
While I'm definitely in favour of using something like Collada, there has been (quite) some discussion about it in the past in the context of the "next generation" description format for ROS 2. See the [ROS Discourse: robot description formats](https://discourse.ros.org/c/robot-description-formats) category for some context.

`tesseract` is not ROS 2 of course. So perhaps it's perfectly ok to use

[2018-11-02 19:49] johnwason commented on #11
I did a quick skim of the discussions. I agree that we should try to harmonize with the 3D modeling community as much as possible rather than having a separate file format. Being able to use Blender or Maya using the same workflows as the gaming industry would greatly simplify asset management. There will need to be some extensions to the existing formats, but it should be pretty straightforward t

[2018-11-02 20:33] gavanderhoorn commented on #11
Well .. that's the thing: it *hasn't*. Unless you are talking about the elements that are actually part of the specification, the *extensions* that OpenRAVE uses are just that: extensions.

The problem with those is that it's undefined what editors and viewers should do with such extensions if they encounter them and they don't have support for them.

Some editors ignore them, others discard them

[2018-11-03 14:38] gavanderhoorn commented on #11
Don't forget maintaining it. That is the bigger problem in that case.

Without Dassault being problem owner, it's going to be a community thing and that is not going to work - in my experience.

But that is of course only one of the tool vendors.

[2018-11-03 15:04] gavanderhoorn commented on #11
As you can read in the posts in the `robot description formats` category, I'm a proponent of fixing things and reusing what is already there (I proposed looking at Collada I believe).

I can't really gauge how easy it would be to fix things: some of it would be in the standard, but a big part of it would be the implementations and support in modeling and design products. It would take some effort

[2018-11-03 16:44] johnwason commented on #11
One of the funded topic areas at the ARM is "Software Interoperability," and this seems like it would be a very relevant project. I'll ask about it next week at the SWG meeting. I am releasing a package industrial_payload_manager very shortly as part of an ARM project that ran into some of these file format issues.

@shaun-edwards any thoughts?

[2018-12-07 13:48] Levi-Armstrong commented on #11
I pulled it down and built it but it would take some time to get familiar with it before I think I could have anything useful. Also It currently has to be built from source. I am not opposed to USD but just don't have the time at the moment. Do you know anyone that is familiar with it?

[2018-12-17 13:35] Levi-Armstrong commented on #43
@gavanderhoorn Related to the question above. Several of the package here don't necessarily require ros and could easily be pure cmake packages. In anticipation for adding ROS 2 support is there any reason not to make them pure cmake packages and include a package.xml that allows for them to be build in a ros workspace?

[2018-12-28 18:56] johnwason opened #62 "FreeCAD integration"
FreeCAD has a (seemingly very limited) robot workbench module that can be used to set waypoints and specify paths.

https://www.freecadweb.org/wiki/Robot_Workbench

Having a tool like this integrated with Tesseract would provide capabilities similar to commercial robot planning software.

[2018-12-28 21:49] Levi-Armstrong commented on #62
I have been very interested in building this. I have used freecad before and developed a simple plugin before.  I have been discussing this internally whether to integrate into freecad or something custom. I personally vote for freecad myself. I think it would be good to discuss at the next developers meeting.

[2019-01-13 16:54] Levi-Armstrong opened #65 "Add Chrono Support"
https://github.com/projectchrono/chrono

[2019-01-28 16:35] mpowelson opened #66 "Tesseract Development TODO List"
- [x] Continuous collision checking between two moving objects
- [x] Upgrade data structure to support graphs
- [x] Upgrade to support ROS2 #43
    - [x] Make all core package pure cmake package
    - [x] Create ROS2 meta package containing same package in tesseract_ros meta package
- [ ] ~~Upgrade to use Bullet3~~
- [x] Add tesseract process planning
- [x] Update Clang format in CI from 5.0 to 8.

[2019-02-05 15:59] marip8 commented on #43
@Levi-Armstrong have you considered using [`console_bridge`](http://wiki.ros.org/console_bridge)? I'm not sure how it will be supported in the future or how it will interface with logging in ROS2 but I think its at least an existing solution for ROS-style logging in ROS-independent packages

[2019-02-05 16:01] gavanderhoorn commented on #43
@marip8: I've also suggest `console_bridge` to @Levi-Armstrong. It's a decent suggestion: it has been packaged for ROS 2 usage apparently ([ros2/console_bridge_vendor](https://github.com/ros2/console_bridge_vendor)).

[2019-02-05 19:37] Levi-Armstrong commented on #43
Looks like a good solution.

[2019-02-06 13:29] Levi-Armstrong commented on #43
@gavanderhoorn I must have missed it when you pointed out this as a solution.

[2019-02-06 13:31] gavanderhoorn commented on #43
I sent you an email about it on 2019-01-30.

[2019-02-09 23:38] Levi-Armstrong commented on #43
@gavanderhoorn I found the email and thank you.

[2019-02-11 02:10] lakshmip001 opened #68 "RVIZ crashes when trying to add tesseract_trajectory or when trying to load robotmodel with 'base_link'"
I get the following error when trying to load trajectory or robot model

terminate called after throwing an instance of 'Ogre::ItemIdentityException'
  what():  OGRE EXCEPTION(4:ItemIdentityException): An object of type 'Entity' with name 'Robot Link4' already exists. in SceneManager::createMovableObject at /build/ogre-1.9-mqY1wq/ogre-1.9-1.9.0+dfsg1/OgreMain/src/OgreSceneManager.cpp (line 6832)
A

[2019-02-12 12:27] wxmerkt opened #70 "Potential release - and issue with bullet3_ros with other packages"
Hi guys!
Thank you very much for the great work in putting together this framework! I am exploring `tesseract_collision` and really like the abstraction :-).

However, using the package leads to conflicts in our catkin workspace - particular due to the following line:
https://github.com/ros-industrial-consortium/tesseract/blob/4c6d86028bbc08c39606acd5c1b1ba79d69874ce/tesseract_ext/bullet3_ros/CMak

[2019-02-12 15:44] wxmerkt opened #71 "Impact of KinematicFilter assert"
Hi,
I am creating a scene based on the `tesseract_collision` package in which I load robot links (with mask id `BodyType::ROBOT_LINK`) and environment objects (with mask id `BodyType::ROBOT_ATTACHED`).

When compiling in debug mode I frequently receive the following assert:
https://github.com/ros-industrial-consortium/tesseract/blob/8379d427cda2e413216031b9142335aa75a0a71e/tesseract_collision/incl

[2019-02-12 15:55] mpowelson commented on #71
@Levi-Armstrong For what it's worth, the car_seat_demo has a similar problem. I'm not sure if it's related, but it throws an error here.

https://github.com/ros-industrial-consortium/tesseract/blob/8379d427cda2e413216031b9142335aa75a0a71e/tesseract_collision/src/bullet/bullet_cast_bvh_manager.cpp#L211

[2019-02-12 16:03] wxmerkt commented on #71
Unrelated to the original issue: I couldn't get any of the demos to visualise :'( [they solve correctly but the tesseract_rviz plugin does not show anything - I have all the dependencies]

[2019-02-12 16:05] mpowelson commented on #71
If you add a TesseractTrajectory, you should be able to see it moving. I sometimes have to click the topic selected a couple of times to get it to show up. I'm not sure why.

[2019-02-13 12:56] Levi-Armstrong commented on #71
The line of code you highlighted is to check for the case when performing continuous collision checking if both objects are moving. It currently only supports checking moving objects to static objects for continuous collision checking. It is possible, but I need to workout the math to calculate the nearest points and contact time two moving objects.

Do you have an example I can look at to determi

[2019-02-13 13:09] Levi-Armstrong commented on #70
You are correct the current version at least on Kinetic is from 2015 and they have made a lot of improvements.

I do plan on eventually releasing tesseract but will need to look how to get bullet3 released. This may not be an issue on melodic but not sure.

That is great to hear. For libccd i remeber reading some where that it stated to include libccd from source because of bug fixes that had not

[2019-02-13 13:29] Levi-Armstrong commented on #70
@wxmerkt I looked at `fcl_catkin` but may need some help. I noticed that you made fcl a catkin package, are not able to release it as a pure cmake leveraging the package.xml? Is this a limitation of the build farm? I ask because I have no experience releasing a non catkin package through the ros build farm.

[2019-02-13 17:06] marip8 commented on #70
@Levi-Armstrong I was not involved in this change. It looks like it came from [this commit](https://github.com/ros-industrial-consortium/tesseract/commit/408ce8474f7cd57f90257aac65cfc1f376445d98)

[2019-02-13 17:44] wxmerkt commented on #71
Thank you for the response and explanation - that makes sense and mirrors my understanding from the paper.
In my case, I only check one object A (moving) against a static object B at a time and disable all other active collision objects:
[code]

I then set the transforms:
[code]

While this should resolve the `assert` issue (I will report back if it re-appears - it happened on a static object [but

[2019-02-13 19:57] wxmerkt commented on #70
Thank you for the detailed response!

We decided to make FCL a catkin package and namespace it such that it does not conflict with system-installed FCL, i.e., when including we run:
[code]
as the headers are in `fcl_catkin/fcl` (we had to make sure there can't be any conflicts). It may have been possible to build as a CMake project as well and I am happy for someone with more catkin-expertise than

[2019-02-13 20:29] Levi-Armstrong commented on #43
@gavanderhoorn So I have finished isolating the tesseract_collision in this [branch](https://github.com/Levi-Armstrong/tesseract-1/tree/feature/ContactShapes/tesseract_collision). It currently the only catkin depends is bullet3_ros but this will eventually go away. I am open to solution on how to best release this to support both ROS1 and ROS2.

[2019-02-13 22:44] arocchi commented on #70
On a maybe related note: probably having a namespaced fcl like this could be also a good idea for `tesseract`. As of now, I am personally maintaining a version of `tesseract` [without fcl](https://github.com/arocchi/tesseract/tree/only_bullet) for our internal use as it conflicts with our system-level fcl.

[2019-02-14 00:20] wxmerkt commented on #70
@arocchi I am doing the same here and using two different workspaces (one install, one devel that extends on the install). We dont have bullet conflicts but that's likely because we aren't using another library that depends on it. Note, we have only namespaced the header location and made sure it doesn't get linked to the wrong FCL - users may still end up loading code as plug-ins from two differe

[2019-02-14 03:42] Levi-Armstrong commented on #71
Lets see. So currently because you have the ability to set which links are active, for every collision shape (link can contain multiple collision shapes) i store a cast and static representation of the collision shape.  Then when you set/change the active links I remove/add objects to the broadphase. When you set the transforms for moving objects I update the bounding box in the broadphase. The wa

[2019-02-15 03:31] Levi-Armstrong commented on #70
So how do I go about namespace fcl? I something special I can add to the CMakeLists.txt to accomplish this?

[2019-02-15 03:40] Levi-Armstrong commented on #68
This is a oger shape naming conflict. I need to figure the best way to solve the issue.

[2019-02-15 03:59] lakshmip001 opened #73 "CartVelTermInfo() parameters adjustment to acheive trapezoidal Cartesian Velocity"
Time of start is generated by trajopt but when the trajectory is given to IPTP it gives new time of start and the velocity is profile is as shown in the below figure:

![image](https://user-images.githubusercontent.com/30099654/52833658-cecc9180-3118-11e9-8bd3-449091070450.png)

And I am able to define constraint on CartVelTermInfo() as shown below but not for each waypoint

std::shared_ptr<CartVe

[2019-02-15 13:52] mpowelson commented on #73
I believe this should be a TrajOpt issue?

[2019-02-15 14:02] lakshmip001 commented on #73
Yes, I am not sure what parameters indicate. So , knowing them will be more helpful in understanding parameters.

[2019-02-15 14:04] mpowelson commented on #73
In general, you are not going to be able to use Trajopt/Tesseract at the moment without reading the docs in the code directly. Checkout the header for that function. It should be in problem_description.

[2019-02-15 14:06] lakshmip001 commented on #73
I tried searching through the header file , but didn't find explaination what parameters represent .

[2019-02-15 14:07] mpowelson commented on #73
`/**
 \brief Applies cost/constraint to the cartesian velocity of a link

 Constrains the change in position of the link in each timestep to be less than
 max_displacement
 */
struct CartVelTermInfo : public TermInfo
{
  /** @brief Timesteps over which to apply term */
  int first_step, last_step;
  /** @brief Link to which the term is applied */
  std::string link;
  double max_displacement;
  /*

[2019-02-17 23:55] wxmerkt commented on #71
Thank you for the detailed explanation. Do I need to specifically select the cast/static representation or how does it activate the _correct_ one? I.e., I am still triggering the KinematicFilter assert when setting the following:
[code]

Do I need to set the `mask_id` on object creation somehow?

[2019-02-18 00:56] Levi-Armstrong commented on #71
Have you already set the active collision object, prior to setting the transforms? After adding the collision objects you identify which objects can move by calling the setActiveCollisionObjects function.

[2019-02-18 10:48] wxmerkt commented on #71
Yes, using `enableCollisionObject`. I have now changed it to do `setActiveCollisionObjects` after but it does not detect continuous collisions anymore.

This is my code:
[code]

From an understanding point of view, is it correct to (here `o1` is the object to be cast, `o2` is static world object):
1. Disable all active collision objects.
2. Set transform for o1 - using either one (if no motion) or

[2019-02-18 23:54] Levi-Armstrong commented on #71
I notice that you start be disabling all current active objects does do objects o1 and o2 enabled? Based on what is shown above that either o1 or o2 is disabled. I see you note about calling `enableCollisionObject` taking a very long time but it should all it is doing is setting a bool flag. It does call find for a std::map but I would not expect it to take very long.

Recommended procedure:

- En

[2019-02-20 11:01] wxmerkt commented on #71
Thank you, this helped a lot.

[2019-02-20 11:01] #71 closed

[2019-06-18 01:00] jacknlliu opened #87 "add python interface?"

[2019-06-19 06:17] Levi-Armstrong commented on #87
This should be available soon.

[2019-06-26 07:01] j-petit opened #88 "Uninitialized reads reported in Valgrind"
### Error Description
When running Valgrind on the [this unit test](https://github.com/ros-industrial-consortium/tesseract/blob/master/tesseract_ros/test/kdl_env_unit.cpp) I get the following conditional jump on not initialized values messages [valgrind_output](https://github.com/ros-planning/moveit/files/3326052/valgrind_output.txt). The [code snippet in question](https://github.com/ros-industria

[2019-06-27 03:12] Levi-Armstrong commented on #88
This has been solved in PR #72. We are finalizing some remaining changes this week and should be able to merge next week into master branch.

[2019-06-27 14:07] felixvd commented on #88
Is there any way you might remember what the problem was or where it was fixed? That PR is 130,000 lines long(!)

[2019-06-28 15:31] Levi-Armstrong commented on #88
Sorry I do not, We have been rewriting everything so there has been a lot of changes.

[2019-07-02 15:38] Levi-Armstrong commented on #87
@KevinWarburton

[2019-07-04 09:15] jf--- commented on #87
FWIW, if refactoring is to be done, `pybind11` is quite a bit more convienent than generating bindings via boost

[2019-07-04 09:19] jf--- commented on #62
perhaps interface with `tesseract` via `roslibpy`. If the drawing classes are abstract, than it becomes easy to adapt to your CAD package of preference, FreeCAD, pythonocc, rhino come to mind

[2019-07-04 23:46] Levi-Armstrong commented on #87
We have been using SWIG.

[2019-07-05 12:36] jf--- commented on #87
Cool thing with `pybind11` is that it supports modern C++, where SWIG is pretty much in maintenance mode

[2019-07-14 00:21] Levi-Armstrong commented on #68
This is resolved in the master branch.

[2019-07-14 00:21] #68 closed

[2019-07-14 00:23] Levi-Armstrong commented on #11
A scene graph has been implemented leveraging boost graph and is merged in to master.

[2019-07-14 00:23] #11 closed

[2019-07-14 00:37] Levi-Armstrong opened #90 "Master Branch needs to be Clang Formatted"

[2019-07-14 00:40] Levi-Armstrong opened #91 "Add support for continuous collision checking between two moving objects"
Currently detecting collision between two moving objects does work but need to work out the math to calculate the contact time and nearest points relative to each links coordinate system.

[2019-07-14 00:42] Levi-Armstrong opened #92 "CI is not currently working"

[2019-07-14 02:33] Levi-Armstrong commented on #90
Addressed by PR #93

[2019-07-14 02:33] #90 closed

[2019-07-14 05:13] Levi-Armstrong opened #98 "Make gtest package a submodule so CI clang format will pass"

[2019-07-19 21:46] Levi-Armstrong commented on #98
Leveraged cmake add external project feature #101.

[2019-07-19 21:46] #98 closed

[2019-07-19 21:46] Levi-Armstrong commented on #92
Addressed by #101

[2019-07-19 21:46] #92 closed

[2019-07-19 21:47] Levi-Armstrong commented on #70
@wxmerkt So how do I go about namespace fcl? Is there something special I can add to the CMakeLists.txt to accomplish this?

[2019-07-20 04:39] Levi-Armstrong opened #103 "Leverage BehaviorTree.CPP with Boost or Cereal for process planners."
I think it would be interesting to leverage BehaviorTree.CPP for create a complex process planner using Boost or Cereal for serializing data structures for passing data around in the BehaviorTree.

https://uscilab.github.io/cereal/serialization_archives.html
https://github.com/BehaviorTree

[2019-07-20 11:39] wxmerkt commented on #70
Hi @Levi-Armstrong,
I am not sure - there is no flag/option I know of in the CMake to accomplish this (perhaps private include and linking?). I think you would have to manually set the namespace or, what we do and it is a workaround/hack, install into a subdirectory and then use a CMake hook to set the correct paths (but with the same namespace). Please let me know if you find a good solution - wo

[2019-07-26 10:00] traversaro commented on #87
Which specific features of "modern" C++ are you referring to? SWIG has some support for features of C++11 ( http://www.swig.org/Doc4.0/CPlusPlus11.html ), C++14 ( http://www.swig.org/Doc4.0/CPlusPlus14.html ) and C++17 (http://www.swig.org/Doc4.0/CPlusPlus17.html), but perhaps there are specific features only covered by `pybind11` .

[2019-07-27 17:07] schornakj opened #105 "Nonexistant variable tesseract_support_INCLUDE_DIRS"
**Problem**

`tesseract_support-config.cmake.in` defines the variable `tesseract_support_INCLUDE_DIRS`, which points to the package's include directory. However, tesseract_support doesn't have an include directory, which causes errors when downstream packages try to use it:

[code]

**Solution**

Remove the line `set_and_check(@PROJECT_NAME@_INCLUDE_DIRS "${PACKAGE_PREFIX_DIR}/include")` from `tes

[2019-08-01 12:31] #73 closed

[2019-08-10 05:40] Levi-Armstrong commented on #105
addressed by #106

[2019-08-10 05:40] #105 closed

[2019-08-19 17:08] mpowelson opened #109 "Return vector of succeeded/failed waypoints in PlannerResponse"
This is important for descartes especially where we want to remove failed vertices and try again.

[2019-08-19 17:08] mpowelson opened #110 "Add JointTrajectoryPoint structure inside JointTrajectory to replace TrajArray."

[2019-08-20 03:26] WHGang opened #111 "dependencies.rosinstall"
How to run dependencies.rosinstall? thanks

[2019-08-20 12:42] mpowelson commented on #111
Similarly to with [TrajOpt #124](https://github.com/ros-industrial-consortium/trajopt_ros/issues/124), this is mostly just here for CI. You will need to make sure that you clone Tesseract with submodules though. See [HERE](https://stackoverflow.com/questions/3796927/how-to-git-clone-including-submodules)

[2019-08-21 04:01] zyjiao4728 opened #112 "Failed to update rviz environment."
I got the following error running car_seat_example in tesseract_ros_examples package:
`[ INFO] [1566358488.704137330]: Failed to update rviz environment`

I also played with the examples and tried to modify the environment. I always get `Failed to update rviz environment` error in `sendRvizChanges()` after removing links or joints, by calling `removeLink()` or `removeJoint()`, from the environment

[2019-08-21 19:32] schornakj opened #114 "Collision geometry flattened when loading multibody .DAE from URDF"
I have a URDF that contains a .DAE file with multiple geometry elements. When I open the file in a text editor it has a structure like this (trimmed down significantly, it's quite bulky):
[code]

I would like this file to be parsed such that every geometry element is loaded as a separate collision body. Based on conversations with @Levi-Armstrong this should be possible. However, I noticed that du

[2019-08-24 03:10] Levi-Armstrong commented on #114
Addressed by #115

[2019-08-24 03:10] #114 closed

[2019-08-24 03:11] Levi-Armstrong commented on #112
I will take a look at the demo and see what I can find.

[2019-09-20 15:30] mpowelson opened #127 "Eigen Alignment Issues"
TrajOpt and Tesseract have been plagued by Eigen alignment issues for a while (see https://github.com/ros-industrial-consortium/trajopt_ros/issues/27). However it did not seem to be widespread and was limited to only a handful of applications and only on certain people's computers. In working on #117 it suddenly got a lot worse. This was presumably because we switched to using make_shared instead

[2019-09-20 16:48] mpowelson opened #128 "PCL build issue in tesseract_motion_planning"
The issue has been fixed in 1.9.1 https://github.com/PointCloudLibrary/pcl/pull/2626. This is only an issue if you are stuck pre-1.8.1 for some reason (ie using the version that comes with Kinetic)

When POLICY CMP0074 is true and PCL_TO_FIND_COMPONENTS is false then the cmake_policy(POP) does not get called.

The solution is to do what they did in the PR. Go into PCLConfig.cmake and change
[code]

[2019-09-20 16:54] mpowelson commented on #128
@Levi-Armstrong This seems like this could effect a lot of people. I need to look into what the policy means and when you would have that enables

[2019-09-20 17:16] Levi-Armstrong commented on #127
Here is the [Eigen PR](http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1409) that has been reference as a fix.

[2019-09-20 18:32] mpowelson commented on #128
It looks like this bug was introduced in 1.9.0 This should only occur if you installed from source since it was fixed in 1.9.1

[2019-09-20 18:32] #128 closed

[2019-09-20 18:49] mpowelson commented on #109
It looks like this was addressed in #113 but didn't get closed

[2019-09-20 18:49] #109 closed

[2019-09-20 18:51] mpowelson commented on #111
I'm going to close this. If you are still needing more information, feel free to reopen it.

[2019-09-20 18:51] #111 closed

[2019-09-20 18:55] mpowelson commented on #112
Are you still running into this error?

 @Levi-Armstrong did you ever get a chance to look at this? It runs fine on my 16.04 machine

[2019-09-22 15:31] Levi-Armstrong commented on #112
Sorry, I have not.

[2019-09-25 23:06] schornakj opened #131 "tesseract_urdf parser fails if multiple materials with the same name exist"
xacro can generate URDFs that contain repeated material definitions. I've included a representative snippet below.

[code]

The stock ROS URDF parser is apparently able to handle this without error, but the new `tesseract_urdf` parser throws the error below. @Levi-Armstrong try running the Descartes test executable I sent you a few days ago.

[code]

I think reasonable behavior for backwards compa

[2019-09-26 02:34] haudren opened #132 "What's the best way to display the scene in RViz?"
Hello,

I was dusting off some old experiments I made. At that time, I was using `ROSBasicPlotting::plotScene()` to send collision updates to RViz. What's the preferred way nowadays?
- I see that the examples use `sendRvizChanges` under the hood, that makes a service call, but there's a bit of boilerplate associated with revision tracking and so on.
- I also see that there is an `EnvironmentMonito

[2019-09-26 08:04] nicolacastaman opened #133 "OMPL planner doesn't provide a trajectory"
OMPL planner doesn't seem to provide a trajectory, but only the start and end waypoints even if it states that a solution has been found.
I tried it using RRTConnect and PRM with the same configuration in the unit test.

Am I making a mistake?

[2019-09-26 13:37] mpowelson commented on #133
The PlannerResponse has a joint_trajectory that should be filled with the solution. The trajectory is an Eigen matrix timesteps x num_dof.

However, if you are saying that that matrix only has 2 rows then that is another issue. You could make sure that you set simply=false in the OMPLFreespacePlannerConfig. However we have experienced very short trajectories even for quite long paths. It is someth

[2019-09-26 13:41] mpowelson commented on #131
That was intentional. It's amazing how many things the URDF wiki (which appears to be the only document that states what a URDF actually is) leaves up to the design of the parser. However I would agree, if that is what URDF_dom does, then I would say we need to support that.

I think I would probably propose the other way. That re-specifying a material overwrites the previous one. That way if you

[2019-09-26 13:44] mpowelson commented on #127
Closing this as this was fixed in #117. If this pops up for anyone in the future comment or reopen this issue, as we may just need to add some more tags to the cmake.

[2019-09-26 13:44] #127 closed

[2019-09-30 00:51] schornakj opened #134 ".dae mesh collision geometry loaded from URDF is incorrectly oriented"
I get different collision results with geometry defined by .dae meshes when using versions of Tesseract before (bef6578) and after (d6397ad) the addition of the new `tesseract_urdf` parser. The URDF looks the same as before when visualized in Rviz, so I think this is because of a difference in how `urdfdom` and `tesseract_urdf` parse the files.

I can demonstrate this by defining the same geometry

[2019-09-30 06:56] gavanderhoorn commented on #134
I'm not entirely sure, but you could be running into (something similar to) https://github.com/ros-planning/geometric_shapes/pull/52.

[2019-09-30 23:58] Levi-Armstrong commented on #134
Oh, the urdf parser was created to support not only meshes but convex_mesh, sdf_mesh, etc. Before this change it was hard coded such that all meshes where considered that they may also be convex meshes because there was no way to distinguish between the two. Now with the new urdf parser you are able to distinguish between the two types, but if you use a mesh type as a collision geometry it current

[2019-10-01 00:19] Levi-Armstrong commented on #134
Also when using the convex_mesh type, it expects the mesh to only have one polygon face on a given plane, not multiple triangles that make up the face. Unless you know for sure the file type has the mesh encoded correctly, I recommend adding the convert="true" to make sure it is correct.

[2019-10-01 02:34] Levi-Armstrong commented on #134
PR #135  Should address this issue. I have also added a version number to the tesseract_urdf parser so any urdf missing the version attribute or version less than 2 will be parsed the same as it was prior to the tesseract_urdf.

[2019-10-01 08:47] gavanderhoorn commented on #134
@gavanderhoorn wrote:

and so it was ..

[2019-10-02 02:27] schornakj commented on #134
@Levi-Armstrong I agree that #135 seems to solve this. I'll close this issue once it's merged.

@gavanderhoorn I think (going off sparse details since Levi wrote the fix) the underlying problem was that in the new parser mesh elements were just left unchanged instead of being converted to convex hulls. The generated hull meshes had the correct orientation but the original meshes didn't. This wasn'

[2019-10-03 12:15] #134 closed

[2019-10-03 12:19] Levi-Armstrong commented on #132
If it is just for visualization you can just publish the environment information to a topic and then using the TesseractState display set the right topic it should just update. The examples is a good example if you what to ensure that your changes get added to the visualization along with verifying that something has not changed.

[2019-10-03 16:19] marip8 opened #139 "CTest Verbosity"
Was #136 supposed to print the results of CTest to the terminal? If so, it hasn't worked for me on my local machine (Ubuntu 16.04, ROS Kinetic) and it doesn't seem to have worked on the Kinetic CI machine either (see [latest build of #126](https://travis-ci.com/ros-industrial-consortium/tesseract/jobs/241734808#L3538) which has been rebased onto master)

[2019-10-04 01:07] haudren commented on #132
Thanks to you both, I ended up following the examples and using:
- `plotTrajectory` for the trajectory itself
- `getRevision` in conjunction with [`sendRvizChanges`](https://github.com/ros-industrial-consortium/tesseract/blob/d6397ad1e8b2d532581e9c3cf03c6ec5ae2ecf1c/tesseract_ros/tesseract_examples/tesseract_ros_examples/include/tesseract_ros_examples/example.h#L108) to broadcast collision shapes.

[2019-10-04 01:07] #132 closed

[2019-10-08 01:40] haudren opened #142 "How to add multiple "robots" to the same Environment?"
I've been experimenting a bit more with Tesseract / TrajOpt and it seems to give good results :+1:

However I would like to do the following:
- Create an Environment containing my robot via `Tesseract::init(urdf, srdf, locator)`
- Add collision shapes and other objects independently

So far I've been constructing them by hand (create Link, create Joint, then call `addLink`), but I would ideally lo

[2019-10-09 03:39] johnwason opened #143 "descartes_tesseract package not found"
The descartes_tesseract package was removed from ~~trajopt_ros~~ descartes_light but is not in the current master branch of tesseract as expected.

[2019-10-09 10:01] haudren opened #144 "Switch to GTest imported targets?"
Currently, the code uses `GTEST_BOTH_LIBRARIES`. From a cursory look, I believe we should instead switch to using `GTest::GTest` and `GTest::GTestMain`, because `GTest` has a transient dependency on `Thread`

https://cmake.org/cmake/help/v3.15/module/FindGTest.html

I also noticed that the test code in some other repos (`opw_kinematics` and `descartes_ikfast` at least) seems to contain typos, wher

[2019-10-09 11:05] haudren commented on #143
I just worked around that issue with the attached patch:

https://gist.github.com/haudren/a00d7a36481ed1f90b25240301a57b98

Basically deleted any mention of `descartes_tesseract`, and copied the necessary code into the tests. I have no idea what's the plan for `descartes_tesseract`, so this probably shouldn't make it into a PR, but allows to build successfully.

[2019-10-09 12:53] mpowelson commented on #143
I realize this is also not ideal, but you can also just checkout descartes_light before it was removed (49fdf0d8fd075954d79e9315a0796546a0d3b135). I think that PR got merged before the corresponding Tesseract one was ready. I believe [THIS](https://github.com/Levi-Armstrong/tesseract-1/tree/feature/ImproveDescartesIntegration) is the WIP Tesseract branch, but I don't know the status of it.

[2019-10-10 00:47] haudren commented on #143
Thanks for updating this issue... Unfortunately, this PR seems to be blocked by the addition of new features, is there any way to merge the minimal subset of changes needed to fix the build?

[2019-10-10 05:12] Levi-Armstrong commented on #144
I agree.

I will look into those repositories.

[2019-10-10 16:25] johnwason opened #146 "Windows build"
I have patched tesseract and its dependencies to build and work with Windows. I am not sure if everything is working correctly because the current master branches are failing unit tests on Linux. The patches can be found here:

https://github.com/johnwason/trajopt_ros/tree/windows

https://github.com/johnwason/tesseract/tree/windows

https://github.com/johnwason/descartes_light/tree/windows

https

[2019-10-10 17:21] Levi-Armstrong commented on #142
Boost graph supports the notion of subgraphs. I had planned to implement this to support your use case but have not gotten around to it. For now it would not be to much work to add a method to the environment as you suggested to that takes a SceneGraph as shown below.

[code]

[2019-10-11 21:40] Levi-Armstrong commented on #131
This has been addressed

[2019-10-11 21:40] #131 closed

[2019-10-11 21:40] Levi-Armstrong commented on #8
Fixed

[2019-10-11 21:40] #8 closed

[2019-10-11 21:42] Levi-Armstrong commented on #103
It looks line https://github.com/nlohmann/json now supports serialization and deserialization which appears to still be maintained.

[2019-10-11 21:44] Levi-Armstrong commented on #139
It looks like ci suppress the output so even if this is set the only way to see it is turn on verbose for ci but I also run into issues where ci is stopped because the log get to long.

[2019-10-11 22:24] Levi-Armstrong commented on #142
Link to the boost subgraph https://www.boost.org/doc/libs/1_55_0/libs/graph/doc/subgraph.html

[2019-10-11 23:29] Levi-Armstrong commented on #143
This PR #141 now addresses this issue.

[2019-10-14 15:10] Levi-Armstrong commented on #146
I am going to start with opw_kinematics since it has only system dependencies. Do you know how to setup CI for windows?

[2019-10-14 15:14] Levi-Armstrong commented on #146
@gavanderhoorn I did a brief look at industrial_ci and it was not clear if ROS2/Windows is currently supported and I could not find any references in the documentation. It looks like the ROS2 support is not in the default branch only the master branch. Have you setup up a repository for ROS2/Windows using industrial_ci that I may use as a reference?

[2019-10-14 15:40] gavanderhoorn commented on #146
re: windows: no. But that would depend on whether Travis has Windows support.

re: `master` branch: the current default branch is `legacy`. ROS2 is supported in `master`. The reason for this is that up-till recently, no `.travis.yml` configs cloned a specific branch. If @ipa-mdl just changed the default branch (the ROS2 support comes with a significant rewrite of `industrial_ci`) there was the pot

[2019-10-14 15:46] johnwason commented on #146
Travis CI does support windows. It uses the Git Bash shell (the one packaged with Git) instead of the Windows command prompt. Installing ROS involves using `choco` instead of `apt-get`, but otherwise is pretty similar. It does however take a really long time to get everything installed.

[2019-10-14 15:52] Levi-Armstrong commented on #146
@johnwason Do you have an example repository I can use as reference to test on opw_kinematics?

[2019-10-14 15:54] johnwason commented on #146
I do not have an example of using ROS on Travis. I will fill in an example on opw_kinematics that you can use as reference.

[2019-10-14 15:55] Levi-Armstrong commented on #146
Thank you

[2019-10-14 15:57] Levi-Armstrong commented on #146
@gavanderhoorn Thank you, I will wait for @ipa-mdl to respond before attempting with industrial_ci.

[2019-10-14 17:27] johnwason commented on #146
Currently catkin on Windows doesn't generate bash setup scripts. This should be relatively easy to fix so I am going to look into that patch first. This will solve a few other issues I have had using the cmd prompt on Windows.

[2019-10-14 17:32] Levi-Armstrong opened #147 "Consolidate descartes samplers"
There may be a way to consolidate the three Descartes samplers into a single class.

[2019-10-14 18:20] johnwason commented on #146
I was wrong, adding Git Bash support to Windows is going to be a lot of work. We will need to have a batch file called from travis.yml using cmd to run the ROS commands. I will leave an issue on catkin that this should be fixed.

[2019-10-14 18:25] johnwason commented on #146
See https://github.com/ros/catkin/issues/1035 . I don't know enough about the guts of Catkin to make this modification.

[2019-10-14 18:35] Levi-Armstrong commented on #143
PR #141 has been merged

[2019-10-14 18:35] #143 closed

[2019-10-14 19:15] gavanderhoorn commented on #146
@johnwason: trying to use a merged install space makes sense to me.

Does that improve the situation?

[2019-10-14 19:21] johnwason opened #148 "Return file contents instead of filename for tesseract_scene_graph::ResourceLocatorFn"
Currently tesseract_scene_graph::ResourceLocatorFn returns the filename to a resource instead of the resource contents. This is inflexible since the resource may be stored in a zip file or retrieved from a URL. The locator function should return the file contents as a byte array. Assimp can load in the raw bytes using ReadFileFromMemory so there shouldn't be a compatibility issue.

[2019-10-14 19:35] johnwason commented on #146
No, that really doesn't help when I am modifying multiple packages concurrently. All that is required to support Git Bash is to generate the appropriate environment scripts. Everything else should work as it is...

[2019-10-14 19:39] gavanderhoorn commented on #146
I'm not sure I understand why that "really doesn't help"? There's also support for `--merge-devel`.

IIRC, that should result in a single entry in the `ROS_PACKAGE_PATH` instead of `N` entries for `N` packages.

[2019-10-14 19:42] johnwason commented on #146
Ok, I'll see if merging devel helps. Merging install would not change the env.bat during catkin_make_isolated

[2019-10-14 19:50] gavanderhoorn commented on #146
For an `install` space it does result in a single entry in the `ROS_PACKAGE_PATH`:

[code]

For a `devel` space I'm not sure.

[2019-10-14 19:54] johnwason commented on #146
When I run `catkin_make_isolated --merge --use-ninja` I get this error:

    '*' is not recognized as an internal or external command,
    operable program or batch file.
    <== Failed to process package 'intera_common':
    Command '['C:\\rosws\\devel_isolated\\env.bat', 'cmake', 'C:\\rosws\\src\\intera_common\\intera_common', '-DCATKIN_DEVEL_PREFIX=C:\\rosws\\devel_isolated', '-DCMAKE_INSTALL_P

[2019-10-14 19:55] gavanderhoorn commented on #146
Why do you use `catkin_make_isolated`? Does `catkin_tools` not work under Windows?

[2019-10-14 20:01] johnwason commented on #146
`catkin_tools` does not appear to be available in the Windows package manager. `colcon` is in the package manager but I haven't used it before.

[2019-10-14 20:04] gavanderhoorn commented on #146
Might be worth a try. No support for a `devel` space though.

[migration docs](https://colcon.readthedocs.io/en/released/#migration-docs). [Building ROS1 packages](https://colcon.readthedocs.io/en/released/user/quick-start.html#build-ros-1-packages).

At least Colcon was created with Windows as one of the target platforms.

Not saying that changing `catkin` is not an option, but having tried at le

[2019-10-14 20:41] Levi-Armstrong commented on #35
This has been addressed by a few PR on that add the ability to get a StateSolver.

[2019-10-14 20:41] #35 closed

[2019-10-14 20:53] Levi-Armstrong commented on #148
@johnwason I don't have an issue with change. @mpowelson, @schornakj  Do you see any issues with this change?

[2019-10-14 23:08] johnwason commented on #148
Can we use std::vector<uint8_t> as the return type?

[2019-10-15 12:52] mpowelson commented on #148
It would seem to me that it might be a bit of a misnomer if we changed it to return the data instead of the location. Also, currently you could use it to get the filepath of a directory to write data to in place of something like rospack. I imagine we are using it that way in a few unit tests.

Can you overload a std::function definition? Then we could have one that returns a byte array and one th

[2019-10-15 13:00] johnwason commented on #148
I plan to use a custom resource loader, so having that logic within the tesseract functions would not be great. Could be define a ResourceLoader class with "IsFile", "GetFilePath", "GetResourceData" functions?

[2019-10-15 13:01] Levi-Armstrong commented on #148
I took a look at ros resource retriever and this is what they do to address this issue. It looks like they use `std::vector<uint8_t>` when initially retrieving the data then they write it `boost::shared_array<uint8_t> data`. I assume they use a shared array to prevent from coping data. Should we return a shared pointer?

https://github.com/ros/resource_retriever/blob/kinetic-devel/include/resource

[2019-10-15 13:03] johnwason commented on #148
`boost::shared_array<uint8_t>` does not contain length information. It would have to be `std::shared_ptr<std::vector<uint8_t> >` or similar.

[2019-10-15 14:06] Levi-Armstrong commented on #148
This change will work.

[2019-10-15 14:59] mpowelson opened #153 "LinearMath/btConvexHullComputer.h: No such file or directory"
This compile error pops up occasionally. I just ran into it using tesseract_rosutils/utils.h.

[2019-10-15 15:01] mpowelson commented on #153
@Levi-Armstrong  Tells me that this is a bug in catkin tools where it does not handle interface targets correctly. Apparently a fix is in a PR but may not have been released yet. For now, fix this by adding the collision target manually
[code]

[2019-10-15 16:00] johnwason commented on #148
I will implement this option and issue a pull request.

[2019-10-15 16:12] johnwason commented on #148
For the custom resource loader, I am going to use the RR resource management system I am developing. This resource system will use the "buckets" concept like AWS S3 or Google Cloud Storage. Each bucket will be identified by a name/and or a UUID. These buckets can either be a directory a zip/tar file, or a remote resource service. The service definition can be found here:

https://github.com/johnwa

[2019-10-15 19:03] johnwason commented on #146
After a **lot** of trial and error I have a working sample for opw_kinematics.  This does not include the Linux build (a build matrix will be required). The solution required using two batch scripts that could be moved into a more centralized repository.

https://github.com/johnwason/opw_kinematics/tree/windows-travisci

https://travis-ci.org/johnwason/opw_kinematics/builds/598276554

Be sure to c

[2019-10-16 02:30] Levi-Armstrong commented on #146
@johnwason Thank you I will see if I can take this and create a build matrix that handles linux and windows.

[2019-10-18 01:36] Levi-Armstrong commented on #144
This has been addressed in PR #149 and PR's have been opened against opw_kinematics and descartes_light.

[2019-10-18 01:36] #144 closed

[2019-10-18 01:36] #24 closed

[2019-10-18 01:54] haudren commented on #144
Thank you!

[2019-10-18 16:31] Levi-Armstrong commented on #146
@johnwason I had one question. Could the contents in the .bat file go directly in the .travis.yml file?

[2019-10-18 17:18] johnwason commented on #146
Travis CI uses Git Bash for its terminal environment on Windows. Unfortunately the vcvars files for the Visual Studio compiler env variables and the ROS env variables scripts are batch files, which are not compatible with Git Bash. Issue https://github.com/ros/catkin/issues/1035 suggested generating env scripts that would be compatible with Git Bash.

In order to call batch files, the `cmd` comman

[2019-10-18 17:19] johnwason commented on #146
I have tesseract running on Windows standalone without ROS. The required DLLs are included in the repo so there shouldn't be anything else required to run beyond the MSVC redist packages.

https://github.com/johnwason/tesseract_robotraconteur_builds/tree/master/win64

[2019-11-01 13:45] mpowelson opened #168 "Clean up contact monitor"
The [contact monitor](https://github.com/ros-industrial-consortium/tesseract/blob/master/tesseract_ros/tesseract_monitoring/src/contact_monitor.cpp) could use a refactor. See some comments on #162.

1) It should be refactored into a class so that we can have multiple contact monitors at the same time. This should let us get rid of most if not all of the global variables there.
2) We should work to

[2019-11-01 13:47] mpowelson commented on #66
I believe the ROS 2 wrapper is underway. @schornakj  could you link to it here?

[2019-11-07 22:47] marip8 opened #174 "Refactor Planner Configuration and Hybrid Planners"
The concept of the hybrid planner is to create a trajectory with a "global" planner (OMPL, STOMP, Descartes) and give that trajectory as a seed to the TrajOpt "local" planner. It seems unnecessary to create hybrid planners for each type of global planner. The hybrid planner should really be templated based on the type of global planner you want to use:

[code]

This is a nice idea, but the current

[2019-11-07 22:50] marip8 commented on #133
@nicolacastaman @mpowelson #160 adds a [variable](https://github.com/ros-industrial-consortium/tesseract/blob/3d318aa71a0170b703d7b24dc1bfa157303f8693/tesseract/tesseract_planning/tesseract_motion_planners/include/tesseract_motion_planners/ompl/ompl_freespace_planner.h#L79) to the OMPL configuration structure that allows you to specify the number of output states you want in your trajectory

[2019-11-08 07:07] gavanderhoorn commented on #174
Instead of using composition here (which inherently requires recompilation, or at least the way in which it is used here), it may make sense to look at implementing a pipeline architecture.

If "all" planners implement a similar enough interface, they could be wrapped in a *stage* interface, which then could be chained and called one after the other, feeding output of stage N as input to N+1.

Tha

[2019-11-09 18:21] johnwason opened #175 "SDF Loader"
I have started investigating loading SDF robot definition files and have found that the standard sdformat library that comes with Xenial and Bionic is very primitive and does not provide functionality beyond @Levi-Armstrong 's URDF parser. My suggestion is that we modify the URDF parser to be able to parse both URDF and SDF files since there is a lot of overlap. I will talk to RPI about assigning

[2019-11-09 18:23] johnwason commented on #175
Looping in @wlawler45 and @controlguy168

[2019-11-10 19:47] Levi-Armstrong commented on #175
I think this is a good approach to support both for now. We did have a discussion at ROSCon about the future of URDF and should we migrate to SDF or and standard format like STEP, etc.. Based on the discussion I believe it maybe leaning toward SDF, but there is still more discussions to be hade, but for the sake of Tesseract I am on board with supporting both.

[2019-11-10 19:59] Levi-Armstrong opened #176 "Restructure Process Segment"
Current the process segment class has a std::vector for the approach, process and departure.
Usually the there are duplicate waypoints because the end of the approach waypoint is also the start waypoint of the process. This requires a lot book keeping when modifying the segment for example removing failed vertices from descartes or adding new vertices at the end of the approach.

I propose changin

[2019-11-11 13:43] mpowelson commented on #176
I feel like there may be another way to skin this proverbial cat. The current structure seems pretty nice to me. For one, it allows the use of your generators. If we went to a flat list then if you had a massive process, you'd have to copy all of the data to change the approach, but then again maybe that's not so bad. I suppose a flat list would make reversing the strips marginally easier.

The sa

[2019-11-13 01:07] schornakj commented on #66
@mpowelson The ROS2 versions of the `tesseract_ros` packages will live here: [https://github.com/ros-industrial-consortium/tesseract_ros2](https://github.com/ros-industrial-consortium/tesseract_ros2)

The main repo is still waiting on some PRs to be merged. In the meantime, my latest dev branch is here: [https://github.com/schornakj/tesseract_ros2/tree/feature/migrate-tesseract-monitoring]( https:

[2019-11-14 03:04] johnwason commented on #142
We have been able to represent multiple robots by having multiple "groups" in the SRDF file. Right now it isn't clear how you specify to concurrently plan multiple robots since the planning requests all have a "std::string manipulator" parameter. Is there a way to send a trajopt request to concurrently plan for multiple robots?

[2019-11-14 03:43] Levi-Armstrong commented on #142
Currently you create a single joint group that includes all of the joints you would like to plan for.

[2019-11-14 15:06] #139 closed

[2019-11-14 15:08] marip8 commented on #133
Closing this issue because it seems to be addressed in #160. Feel free to re-open if any further discussion is required

[2019-11-14 15:08] #133 closed

[2019-11-20 21:58] johnwason opened #181 "Don't use tesseract_scene_graph::Link and tesseract_scene_graph::Joint for parameters in environment.h"
Currently `tesseract_scene_graph::Link` and `tesseract_scene_graph::Joint` are used to pass parameters to functions in environment.h. This will cause an unnecessary copying. Instead pass by reference or use shared pointer types.

Example:

https://github.com/ros-industrial-consortium/tesseract/blob/60e4cedc307dcfa0d514a835aaf6c7d4b004ef60/tesseract/tesseract_environment/include/tesseract_environme

[2019-11-27 22:40] johnwason commented on #87
The Python bindings should be ready.

https://github.com/johnwason/tesseract_python

I still need to develop unit tests and examples.

[2019-11-28 11:09] jf--- commented on #87
That's duly impressive @johnwason...
Given the `ROS` depencies, and [conda](https://medium.com/@wolfv/ros-on-conda-forge-dca6827ac4b6) recently being able to install `ROS`, is making such a `conda` package an interesting idea?

[2019-11-28 19:31] johnwason commented on #87
I broke up the Python into two module, `tesseract` and `tesseract_ros`. If you don't use the `tesseract_ros` package, there aren't any ROS dependencies.

[2019-11-30 03:29] Levi-Armstrong commented on #181
@johnwason Thank you. I am currently going through and adding Clang-Tidy to both tesseract and trajopt and I have PR #183 which addresses this along with several others like it.

[2019-12-03 20:05] johnwason commented on #175
After doing more research on SDF, it looks like there are some compatibility issues.

The first issue is the "world" and "model" concept used by SDF. SDF breaks up the scene into hierarchical units, with namespaces. For instance, the ljoint of a joint would be "my_robot::joint1" instead of a global name as in URDF. Models can contain models, allowing for nested designs. This is a cleaner design, b

[2019-12-03 20:12] gavanderhoorn commented on #175
I'm not entirely sure, but I believe (at least some of) this is being looked at: [Pose frame semantics: proposed behavior](http://sdformat.org/tutorials?tut=pose_frame_semantics_proposal&cat=pose_semantics_docs&) (Discourse post [here](https://discourse.ros.org/t/sdformat-pose-frame-semantics-proposal/9852)).

[2019-12-03 21:03] johnwason opened #184 "Support glTF meshes"
A new mesh format has been released and is rapidly gaining traction:

https://en.wikipedia.org/wiki/GlTF

https://blog.ybalrid.info/2018/07/why-gltf-2-0-is-awesome/

It appears to be supported by assimp. This new format is intended to fix the problems with collada, stl, etc.

[2019-12-04 09:05] gavanderhoorn commented on #184
One more standard to rule them all :)

When I looked at it some years ago it was almost as if someone had dusted off VRML and gave it a new name.

[2019-12-04 16:14] Levi-Armstrong commented on #175
I looked into boost [subgraph](https://www.boost.org/doc/libs/1_55_0/libs/graph/doc/subgraph.html) and it is just another adjacency list so is support its own subgraph properties. For example the subgraph name property could be the namespace.  I think between the main SceneGraph and the addition of the SubSceneGraph we could accomplish the support for SDF. @johnwason If you kinda outline how you t

[2019-12-04 18:55] johnwason commented on #184
I guess the file types will continue to proliferate until one isn't terrible...

This one apparently matches the format used by WebGL, with the goal of minimizing the processing required to load into the GPU.

[2019-12-04 18:57] johnwason commented on #175
Because of the way the models and frames work, there are 2-3 overlapping graphs that describe the joint/link topology, model topology, and frame topology. I am not sure how we can capture that using subgraphs.

[2019-12-04 19:30] Levi-Armstrong commented on #175
Do you know if there a good diagram showing the structure of the different components for SDF?

[2019-12-04 20:01] johnwason commented on #175
No, not that I have found. The functionality of SDF seems to be a work in progress. I am planning on writing a simple importer using Python for our use, so that may proved some insight. It will manage the models and frames outside of tesseract.

[2019-12-04 20:08] johnwason commented on #175
Another possibility is to use boost::variant or have nullable properties attached to the vertex/edges in the graph, then filter for the scenario we care about. For instance, if we just want the joint/link graph we would filter out any vertex/edge that has null link/joint.

[2019-12-05 14:09] Levi-Armstrong commented on #184
If it is supported by assimp then the file should get processed if added to the urdf.

[2019-12-05 15:03] Levi-Armstrong commented on #175
Are you planning to write your own parser or use the sdf library?

[2019-12-05 17:49] johnwason commented on #175
The SDF library would be preferable, but we would need at least version 1.8. Version 1.6 which comes with Ubuntu doesn't really do much more than a typical XML library. Version 1.8 and higher fully parses the scene but will need to be built from source or use the OSRF APT repo.

If I write a parser in Python it will probably be custom.

[2019-12-09 22:01] johnwason commented on #87
I have pushed some bug fixes and tests. I could not get the industrial_ci to work though. I need to build SWIG from source, but it is being built outside of the container and is not available after the industrial_ci script starts. Any suggestions on how to fix this?

@Levi-Armstrong do you want to merge the Python wrappers into the main repo?

[2019-12-09 22:19] johnwason opened #186 "Introducing tesseract_viewer_python"
For the projects we (RPI and wasontech) are working on, we need a geometry and trajectory viewer that runs inside a browser. Thanks to recent advances on WebGL and WebVR/WebXR, browsers are capable of displaying 3D renderings with reasonable performance. There are several rendering/game engines designed to run in the web browser.

`tesseract_viewer_python` is a proof-of-concept of using WebGL  Bab

[2019-12-10 03:33] Levi-Armstrong commented on #186
This is cool! Are you interested in integrating this into tesseract along with the python wrapper; I am interested?

[2019-12-10 03:57] johnwason commented on #186
Yeah, I can create a pull request. This is very crude though, and I am not planning on improving it beyond fixing major bugs. My plan is to create a viewer for the RR ecosystem based on Babylon.js, which will work with the RR tesseract server.

[2019-12-10 13:31] jf--- commented on #186
It would be cool if a matplotlib style architecture could be adopted, where you have multiple backends ( Qt, threejs, babylon.js ) , but a unified API

Sorry, I couldnt deduce from the above what you're refering to, but curious for sure ;)

[2019-12-10 13:39] jf--- commented on #62
getting back to this issue - what's pretty amazing is that a great way to install `freecad` is via [conda](https://github.com/FreeCAD/FreeCAD_Conda). having such a conda recipe might be a nice way to build towards this goal? These days `ROS` also comes with pre-build conda packages, hence it might be a good idea IMO.

Currently, how to build the project and which platforms are supported is somewha

[2019-12-10 14:07] Levi-Armstrong commented on #87
Will a custom build of SWIG be required going forward? If so you can add swig to tesseract_ext possible using cmakes [ExternalProject_Add](https://github.com/ros-industrial-consortium/tesseract_ext). Each of the packages currently use this feature for building external dependencies. Another option would be to create a docker with your version installed. I most likely will do this for the packages

[2019-12-10 16:47] johnwason commented on #87
For externalproject_add, we should probably check to see if the correct version is available before downloading it, and also have a flag to disable the behavior. It may prove to be a problem for other build systems like vcpgk.

[2019-12-10 17:00] johnwason commented on #142
@Levi-Armstrong I tried planning with trajopt using multiple robots, but it wasn't smart enough to plan for when the arms needed to avoid each other while passing through the same space.. I will probably need to use the OMPL/TrajOpt hybrid, but it doens't have multi-robot support.

Also, the SRDFModel class is immutable, and doesn't work with SWIG because of nested classes.

[2019-12-10 19:34] johnwason commented on #186
@jf-- we are using tesseract for these projects:

http://arminstitute.org/projects/robot-raconteur-rr-an-interoperable-middleware-for-robotics/
http://arminstitute.org/projects/open-source-teach-pendant-programming-environment/

(Robot Raconteur is the flagship product for my (one man) startup)

[2019-12-10 21:07] Levi-Armstrong commented on #87
Yea my next step is to take what you have done in porting tesseract and trajopt into the main repository.

[2019-12-10 21:20] johnwason commented on #186
It is also possible to create an application using Electron (https://github.com/electron/electron) or CEF (https://github.com/cztomczak/cefpython). I am not planning on upgrading this simple viewer to use these options, but it may be of interest in the future.

[2019-12-20 01:23] johnwason opened #191 "Errors finding libccd when building on Windows Subsystem for Linux"
When trying to build on Windows Subsytem for Linux I am getting some weird errors. With `catkin_make_isolated`, I am getting this error.

`
from /home/wasonj/catkin_ws/src/tesseract/tesseract/tesseract_collision/src/fcl/fcl_utils.cpp:56:
/home/wasonj/catkin_ws/devel_isolated/fcl/include/fcl/narrowphase/detail/convexity_based_algorithm/gjk_libccd.h:41:10: fatal error: ccd/ccd.h: No such file or dir

[2019-12-26 17:07] Levi-Armstrong commented on #181
Addressed by PR #183

[2019-12-26 17:07] #181 closed

[2019-12-29 23:22] Levi-Armstrong commented on #112
This is fixed in the latest version.

[2019-12-29 23:22] #112 closed

[2019-12-29 23:27] Levi-Armstrong commented on #142
Did you have continuous collision checking enabled? I would expect it not to work if using discrete collision checking.

I should; what issue did you have? Multiple robot should be defined as a single joint kinematics group.

@johnwason  Do you have a test case I

[2020-01-02 16:47] mpowelson commented on #91
@Levi-Armstrong Would you like to do the honors?

[2020-01-02 16:48] Levi-Armstrong commented on #91
This has been implemented in PR #196

[2020-01-02 16:48] #91 closed

[2020-01-08 15:25] mpowelson opened #198 "Add clang to package.xml"
I am getting cases where clang-tidy will fail when it shouldn't. Specifically I get unused parameter errors when they are actually used.

[2020-01-08 15:27] mpowelson commented on #198
According to @Levi-Armstrong this is a known issue with Clang-tidy. The debian for clang-tidy is missing the dependency on clang. The solution is to install clang-tidy 6 as well as clang-6.0.

[2020-01-08 15:30] gavanderhoorn commented on #198
Should (could) we explicitly add the dependency on whatever doesn't get installed?

If it ever gets fixed upstream, the additional dependency is already resolved. So it would not 'hurt'.

[2020-01-08 15:49] mpowelson commented on #198
I would think we probably could. I guess we would just add that to tesseract_macros.cmake? I suppose we could do a check for it the same way we do clang-tidy and look for versions that we know work.

[2020-01-08 18:23] mpowelson commented on #88
@Levi-Armstrong Since #72 has been merged, should this be closed?

[2020-01-08 20:12] gavanderhoorn commented on #198
I was thinking more of adding the separate dependencies (ie: clang and clang-tidy) to the package manifest of *some* package. That would allow `rosdep` to install them, if they're not present on the system already.

Are we right now depending on `clang-tidy` to pull in clang? If so, perhaps adding clang itself as a dependency would avoid the problem you report.

[2020-01-08 20:25] mpowelson opened #201 "Segfault in registerDefaultInvKinSolvers when using Eigen master branch"
I'm not sure if this is a KDL issue, a Tesseract issue, or just a version incompatibility, but I updated Eigen to the head of the master branch, and the examples segfault. I seem to remember someone mentioning a while ago that the newer versions of eigen caused a problem. I was trying this because STL iterators will be added in the next (currently unreleased) version 3.4.

This is the line in Tess

[2020-01-09 04:31] haudren commented on #191
I can :+1: this issue: building the latest tesseract on a clean install fails to find `libccd`. Reason is as follows:
- Tesseract changed how fcl is found between 168d730f553fd086fc2995b2c9e8cc9615b69bd4 and 4848d7fc8c3f1e5e98d67efaae45c027f9ed7b7d :
[code]
- Main difference is that we no longer look for `ccd` explicitly
- `fcl` does not look for `ccd` in its `fclConfig.cmake`
- `ccd` does not hav

[2020-01-09 13:31] Levi-Armstrong commented on #88
It might be good to rerun valgrind to confirm.

[2020-01-09 13:41] Levi-Armstrong commented on #198
These dependencies should probably be added to tesseract_common as build dependencies as @gavanderhoorn suggested.

[2020-01-09 13:57] #191 closed

[2020-01-09 16:28] mpowelson commented on #201
It also occurs with Eigen 3.3.7 and the kdl 1.3.2

[2020-01-10 13:25] mpowelson commented on #201
This can be fixed by compiling KDL from source. This motivated [this tesseract_ext PR](https://github.com/ros-industrial-consortium/tesseract_ext/pull/2).

[2020-01-13 20:20] Levi-Armstrong commented on #87
@johnwason I wanted to add swig to tesseract external. Did you already create this?

[2020-01-13 21:33] johnwason commented on #87
No, I have not worked on tesseract_ext.

[2020-01-13 22:35] Levi-Armstrong commented on #87
Ok thanks.

[2020-01-13 22:35] #87 closed

[2020-01-20 08:08] haudren opened #205 "Tesseract_python doesn't build cleanly on master"
I noticed that since the addition of `tesseract_python`, I have errors related to the fact that the default system SWIG is 3.0 while `tesseract_python` looks for 4.0

A few questions:
- I looked around and saw that:
https://github.com/Levi-Armstrong/tesseract_ext/commit/26d1dd62ae432afd1097af83d56ceb43b0c9c9cf
Adds SWIG 4.0 to the tree, which is nice, but the submodules are not up-to-date here. Mo

[2020-01-20 08:38] haudren opened #206 "Add support for SRDF model in tesseract_python"
I was playing around with `tesseract_python`, and noticed that one feature is missing (and apparently the code is commented in `tesseract.i` ): support for SRDF model.

I use this area of the code mostly to have access to the group states, that are quite useful when setting up planning problems in a ROS environment (typically set the initial configuration to a known pose).

I will try to get a cor

[2020-01-20 13:04] Levi-Armstrong commented on #206
Yea, I believe @johnwason said there is issue with the library that was causing an issue with swig. I think it was because it had nested structs within the class. Feel free to restructure the srdf library.

[2020-01-20 13:15] Levi-Armstrong commented on #205
Once tesseract_ext PR gets merged I will create a PR against tesseract updating the sub-modules. I typically put tesseract_ext in an extended workspace so I have not experienced this. I will clone down the repository with sub-modules and see if I experience the same issue.

Docker Image build:
[code]

Maybe @johnwason can provide details on why swig 4.0 was required.

[2020-01-20 13:42] #201 closed

[2020-01-20 13:45] mpowelson opened #207 "Move Tesseract_ros to its own package"
I know this has been discussed, and I believe there are some roadblocks to this. What are they and how do we plan on resolving them?

[2020-01-20 18:31] johnwason commented on #205
SWIG 4.0 is needed because the older versions don't support C++11 or shared_ptr very well.

[2020-01-21 01:00] haudren commented on #205
Thanks for the answers!

@Levi-Armstrong : Maybe this Dockerfile should live in the repo somewhere? You can use a build-arg to switch between melodic / kinetic I think. I can try to help reproduce that bug later if you need.

@johnwason : Thanks for the reply, those features are essential so 3.0 is a no-go. Let's stick with 4.0 but it hurts to have to compile it from scratch :cry:

[2020-01-21 15:35] Levi-Armstrong commented on #205
@haudren I just created a [PR](https://github.com/ros-industrial/docker/pull/30) to add tesseract docker files to the ros-industrial docker repository.

[2020-01-22 07:49] haudren commented on #205
Thanks @Levi-Armstrong ! I tested with latest `tesseract_ext`, seems to build cleanly, so I guess we only need to update the submodule here and `tesseract_python` will build cleanly!

[2020-01-23 16:20] schornakj commented on #207
I think that the packages are fully separated now. When I build Tesseract for ROS2 I just put a `COLCON_IGNORE` file in `tesseract/tesseract_ros` and Colcon uses `tesseract_ros2` instead, which indicates that there aren't any dependencies between `tesseract_ros` and the rest of the core Tesseract packages.

[2020-01-27 03:56] johnwason opened #216 "Undefined reference on Kinetic with Xenial"
I am getting the following error when building on Kinetic with Xenial using `catkin_make_isolated`:

[code]

[2020-01-27 14:17] 2scholz commented on #216
I ran into the same problem and was able to fix it by checking out the master branch of `tesseract_ext`.
I think the error was caused by #213.

[2020-01-27 14:35] mpowelson commented on #216
It looks like this is a problem in CI as well. [TrajOpt](https://travis-ci.com/ros-industrial-consortium/trajopt_ros/jobs/279981963) and [Tesseract](https://travis-ci.com/ros-industrial-consortium/tesseract/jobs/279535286) jobs are failing. @schornakj Any insight?

[2020-01-27 17:36] Levi-Armstrong commented on #216
We found that when trying to find contact distances between objects around 2mm bullet fails to find a contact. This is a result of using floats instead of doubles. We have updated tesseract external to build bullet with doubles and updated tesseract collision to use the correct build flags so it knows bullet is built with doubles. I will need to create a PR against bullet to improves its CMake fil

[2020-01-28 19:41] Levi-Armstrong commented on #216
Also it looks like the submodule needed to be updated #217

[2020-01-30 05:02] Levi-Armstrong commented on #207
I came across this repository showing an example having ros1 and ros2 packages in the same repository. I created a [PR](https://github.com/romainreignier/share_ros1_ros2_lib_demo/pull/1) showing how to merge them into a single package so the package name does not change between versions of ros. I wanted to get your thoughts on using this approach to merge in tesseract_ros2 into this repository? @s

[2020-01-30 16:15] #216 closed

[2020-01-30 19:00] jrgnicho commented on #207
@Levi-Armstrong  you proposed there looks fine to me, although just adding a COLCON_IGNORE file would be much simpler and it would still build under ROS1 as long as tesseract_ros2 remains in its own repo

[2020-01-30 19:20] gavanderhoorn commented on #207
Not using the ugly conditionals in package manifests would also be much less .. well .. *ugly* ;)

[2020-01-31 03:17] Levi-Armstrong commented on #207
Currently there are three options.

- Option 1:
  - Core Libraries in its own repository
  - ROS1 Libraries in its own repository
  - ROS2 Libraries in its own repository
- Option 2:
  - All in the same repository but ROS1 and ROS2 packages must have different names. Example tesseract_monitoring (ROS1) then tesseract_monitoring2 (ROS2). Also the CMakeLists.txt must check for Catkin and if not foun

[2020-01-31 13:50] mpowelson commented on #207
I think my preference would be first Option 1. Then Option 3.

Option 1 allows non ROS users to simply not clone the unused repositories rather than having them there but not building them.

Option 3 is easy and I suppose is a bit more convenient. However, I'm already imagining either myself or code following in an IDE getting confused and changing the wrong headers. Plus, I would think in a year

[2020-01-31 13:55] gavanderhoorn commented on #207
I posted a (very) long comment this (my) morning, but for some reason it seems to have disappeared. :(

not sure what happened here.

[2020-01-31 14:04] mpowelson commented on #207
@gavanderhoorn I didn't see an email on my end.

[2020-01-31 15:59] jdlangs commented on #207
I agree that option 1 seems to be the cleanest but as a developer I am pretty scared of having to coordinate changes that would affect both the core libraries and the wrappers across multiple repositories. To me, the core and wrappers are inherently a single project, and so it makes sense for them to live in a single repo where they will always be in sync and versioned together.

So I actually pre

[2020-01-31 16:15] gavanderhoorn commented on #207
One argument against this is that we separate "core libraries" and wrappers exactly because we don't see them as "a single project", but a library with business logic and some other entity that makes that available in the context of a ROS node graph (ie: a wrapper node).

[2020-01-31 16:31] jdlangs commented on #207
Business logic changes are one thing but wouldn't any change to the client interface / API of the core require a corresponding change in the wrapper? Are they not tightly coupled at that layer?

[2020-01-31 16:33] gavanderhoorn commented on #207
Not necessarily. I would say that depends rather heavily of the type of change(s).

We could re-implement the entirety of a class without changing any of the interfaces, which would mean no changes in the wrapper either.

[2020-01-31 16:41] jdlangs commented on #207
Definitely the one-way dependency is important. My point is that if the dependency is such that changes to the interface of the core *require* changes to the wrapper, it strongly suggests all those changes should be happening in a unified way. Admittedly, I haven't dug much into a project that uses a structure like this so I don't have much intuition about how often this is the case.

[2020-02-03 20:03] Levi-Armstrong opened #225 "Benchmark OSQP against BMPD solver for the puzzle piece examples"
The puzzle piece examples had to be set to use BMPD solver to avoid the unit test timeout. This may be a result of the everything being built in debug during CI but it would be good to benchmark the solvers for this example to see how they compare.

[2020-02-07 18:25] Levi-Armstrong commented on #207
@jdlangs and @gavanderhoorn Thank you for the discussion. I personally have struggled with the two option discussed. Keeping everything in one repository is nice from a maintains perspective, but from a developers perspective it is nice to keep them isolated. I am still not sure what is the best way forward is. I think we will keep down the original path of isolating them in separate repositories

[2020-02-12 01:47] #142 closed

[2020-02-12 01:54] Levi-Armstrong commented on #206
@haudren Has this been addressed?

[2020-02-14 02:08] haudren commented on #206
Yes, this was fixed by #208 .

[2020-02-14 02:08] #206 closed

[2020-02-15 22:41] Levi-Armstrong commented on #198
Addressed by #231

[2020-02-15 22:41] #198 closed

[2020-02-25 15:32] mpowelson opened #236 "Add SharedPtr alias"
It seems that the ROS 2 Style is to use ::SharedPtr instead of ::Ptr. Is there a reason not to add those to our classes? We could also deprecate the other way like it seems ROS 2 has done, but that might be a bit ahead of ourselves. Something like this

[code]

[2020-03-02 17:09] DavidMerzJr commented on #168
@mpowelson the first point was addressed in #234.  I did not try to address the second point.

[2020-03-02 23:54] mpowelson opened #238 "Tesseract with Python 3"
What does it take to use Tesseract_python with Python 3? Building on melodic and trying to import tesseract with Python 3 gives the following error. It imports fine with Python 2.
[code]

Motivation is that I'm interested in using Tesseract Python in ROS 2.

[2020-03-03 00:29] mpowelson commented on #238
I should also note that I have been unsuccessful getting this to build in ROS 2. It always finds Python 2 first.

[2020-03-03 15:14] marip8 commented on #236
I personally don't see much value in changing simply to match the ROS2 convention. The extra six characters seem cumbersome and don't really tell me anything I didn't already know about the pointer type

[2020-03-03 15:50] mpowelson commented on #238
For me the problem is solved by adding the following.
[code]

Neither adding the 3 to the find_package nor the additional versions alone would make it work. Obviously this is a bit of a problem since we still need Python 2 for ROS 1.When we split out tesseract_ros_python we'll need to add a check for the correct python version based on the ROS version. It looks like we can just grab ROS_PYTHON_VER

[2020-03-03 16:23] mpowelson commented on #236
I think I agree. I'd probably vote that we add both. It makes it nice that you can then find and replace ::Ptr with SharedPtr to port ROS 2 code. However I don't really feel strongly about it.

It does seem odd that this changed though. There must have been rationale. Does the Google style guide dictate it this way?

[2020-03-09 11:00] bgd29 opened #246 "CMake Error finding opw_kinematics"
Trying to build tesseract using catkin build, but I get errors because my workspace doesn't have tesseract dependencies (opw_kinematics, descartes_light etc) e.g. "Could not find a package configuration file provided by "opw_kinematics". If I manually add the dependecies I am able to build but the tesseract_ros_examples crash "error while loading shared libraries: libtrajopt_utils.so" .
I did clon

[2020-03-09 13:11] Levi-Armstrong commented on #246
You should be able to run the rosinstall file in the main directory which should pull in all of these dependencies.

[2020-03-13 19:25] mpowelson commented on #238
This was addressed in #241 . There is now a cmake flag PYTHON_VERSION that can be used to manually select what Python version to use. Additionally, if that is not set it now uses the ROS_PYTHON_VERSION if available.

[2020-03-13 19:25] #238 closed

[2020-03-13 19:29] mpowelson commented on #207
As of #241 this repo doesn't depend on ROS. We now have essentially 4 repos
1) [Tesseract](https://github.com/ros-industrial-consortium/tesseract) - Core Cmake Libraries and Python wrappers
2) [Tesseract_ext](https://github.com/ros-industrial-consortium/tesseract_ext) - External packages
3) [Tesseract_ros](https://github.com/ros-industrial-consortium/tesseract_ros) - ROS 1 wrappers and interfaces

[2020-03-13 19:29] #207 closed

[2020-03-13 20:21] sduminy opened #250 "CMake Error : pkg configuration "tesseract_rosutils" not found"
Dear all,
I cloned recursively this repository by using `git clone --recursive https://github.com/ros-industrial-consortium/tesseract` but when I tried to build my workspace, I got the following error :
[code]
I am not sure, how to overcome this.
Could someone help me ?
Thanks

[2020-03-13 20:27] DavidMerzJr commented on #250
The ROS packages associated with Tesseract were recently moved out of this repository in #241.  They can now be found in their own [repository](https://github.com/ros-industrial-consortium/tesseract_ros).  If you had written code relying on those packages (which it appears you did), then you will need to also clone down that new repository.  Please let us know whether that fixes your issue.

[2020-03-14 12:37] sduminy commented on #250
After cloning the `tesseract_ros` package, the build worked well.
Thank you very much !
I will close this issue.
Have a good day.

[2020-03-14 12:37] #250 closed

[2020-03-18 20:42] mpowelson commented on #43
@Levi-Armstrong Can this now be closed? [Tesseract_ros2](https://github.com/ros-industrial-consortium/tesseract_ros2)

[2020-03-18 20:49] mpowelson commented on #148
It looks like this was resolved? Should we close this issue?

[2020-03-18 20:50] jianye0428 opened #258 "undefined reference to `tesseract_motion_planners::TrajOptMotionPlanner::solve(tesseract_motion_planners::PlannerResponse&, bool)'"
hello,
i clone the package tesseract and tesseract_ros, and install the packages according to dependencies.rosinstall.

but when I run catkin build and get the following error:
`/home/jianye/unicar_project_demo2/devel/.private/tesseract_ros_examples/lib/libtesseract_ros_examples_pick_and_place_example.so: undefined reference to tesseract_motion_planners::TrajOptMotionPlanner::solve(tesseract_motio

[2020-03-18 20:52] mpowelson commented on #168
Closing this as it has been moved to the tesseract_ros2 repo.

[2020-03-18 20:52] #168 closed

[2020-03-18 21:06] mpowelson commented on #258
Try checking out Tesseract at 3adbfaec06118175984b4b7d369ea188ca92c8bb. I think this was broken in #247.

[2020-03-19 12:34] #43 closed

[2020-03-19 14:15] Levi-Armstrong commented on #246
Did running the rosinstall resolve the issue?

[2020-03-19 17:47] bgd29 commented on #246
Yes, rosinstall solved the problem I had above with the missing packages. I noticed tesseract_ros was removed from the repo, is that being reworked?

[2020-03-19 17:49] mpowelson commented on #246
It has been moved to https://github.com/ros-industrial-consortium/tesseract_ros and https://github.com/ros-industrial-consortium/tesseract_ros2 in order to better support ROS1/ROS2 compatibility

[2020-03-20 13:29] bgd29 commented on #246
I'm still having the crash (seg fault) problem with any of the examples from /tesseract_ros_examples. Should I close this issue and open a new one over at https://github.com/ros-industrial-consortium/tesseract_ros ?

[2020-03-21 03:47] Levi-Armstrong commented on #246
Yea that would be better.

[2020-03-21 18:52] #246 closed

[2020-03-26 15:04] sduminy opened #263 "How to retrieve objects from the environment ?"
Hi all,
I have been working on a pick & place task with object recognition. I am working from a code initially based on OpenRave and trying to switch to another library based on tesseract for motion planning.
I would like to know if there is a method to retrieve object's position and size from the environment with the object's name (those features have been added previously during an objects detec

[2020-03-26 15:09] mpowelson commented on #263
Perhaps [getLink](https://github.com/ros-industrial-consortium/tesseract/blob/a564b4d0d29d8783ae165d1e0d14fa7b94fe6b73/tesseract/tesseract_environment/include/tesseract_environment/core/environment.h#L177) is what you are looking for? Then the  link will have visual and collision elements associated with them which have some geometry type (e.g. box, cylinder, etc) .

[2020-03-26 16:05] sduminy commented on #263
Yes I am trying to work with that ! Do you know what method can I use with a tesseract_scene_graph::Link to get the pose and size of the object attached to this link ?

[2020-03-26 16:21] Levi-Armstrong commented on #263
I would us the environment getCurrentState or if you may also use the getState where you provide joint values. This will provide an object that contains a map of link names to transforms in world coordinate system. Then using getLink you have the geometry and the geometry pose relative to the links origin so you can calculate the location of the geometry in world coordinate system.

The size of th

[2020-03-26 16:23] mpowelson commented on #263
@Levi-Armstrong We could use some doxygen on EnvState https://github.com/ros-industrial-consortium/tesseract/blob/a564b4d0d29d8783ae165d1e0d14fa7b94fe6b73/tesseract/tesseract_environment/include/tesseract_environment/core/types.h#L54

[2020-03-26 16:34] sduminy commented on #263
Yes so actually the objects I want to retrieve the pose and size from, have first been added as link with the `tesseract_environment::addLink(tesseract_scene_graph::Link link, tesseract_scene_graph::Joint joint)` method.
Using `tesseract_environment::getLink(const std::string& name)` I should have the right link. But then, how can I extract the pose and size of it ?

[2020-03-26 17:04] mpowelson commented on #263
So if you want the link itself and all the geometry information associated with it (like size), you will need to do getLink. Presumably the size information you want is in either the visual or collision geometry.

If you want to find out where that link is based on the current state of the environment, you will need to call getCurrentState. Then it sounds like the transform map @Levi-Armstrong  me

[2020-03-26 17:20] sduminy commented on #263
Okay I will search into visual and collision then ! Thanks for all the information !

[2020-03-27 17:25] sduminy commented on #263
I would like to access data in an object of type `tesseract_geometry::Geometry`, which is the result of the method `tesseract_collision::CollisionShapesConst& getCollisionObjectGeometries(std::string obj_name)`. More specifically, I want to access to the x,y,z element of the object size.
Do you know what is the method ?

[2020-03-27 17:27] Levi-Armstrong commented on #263
It returns the base class type, so you will need to use the method getType() and based on the type of the object will need to cast it this type. Once you do that you will have access to all of the type size information.

[2020-03-27 19:18] sduminy commented on #263
Thank you a lot it worked !
Moving to the obj_pose which should be returned by the method `tesseract_collision::ContinuousContactManager::getCollisionObjectGeometriesTransforms` which returns an object of type `tesseract_common::VectorIsometry3d`, I have the same question.
How could I retrieve the x,y,z components of the object's position ?

[2020-03-27 19:24] Levi-Armstrong commented on #263
So the vector of Transforms and vector of geometries are a one-to-one correlation. If you are interested in the first geometries transform you would do the following.

[code]

Note: tesseract_common::VectorIsometry3d is a vector of Eigen::Isometry3d matrices.

[2020-03-27 19:44] johnwason commented on #175
I have been looking into this again recently. @Levi-Armstrong do you mind if we add a newer version of libsdformat to tesseract_ext? Version 6 (included with ROS) is very limited, it doesn't parse out all the various elements. The current Version 9 parses the entire scene and would be relatively easy to load into tesseract.

https://bitbucket.org/osrf/sdformat/src/sdformat9_9.1.0/

[2020-03-27 19:55] sduminy commented on #263
Okay thanks a lot !
This issue is solved, I will close it.

[2020-03-27 19:55] #263 closed

[2020-03-30 13:38] Levi-Armstrong commented on #175
I do not have an issue.

[2020-03-30 23:45] marip8 commented on #258
I think this is an artifact of having moved `tesseract_ros` to its own repository. The function signature of the planner base class `solve` method was changed in #247, and I didn't update the downstream packages. It seems to be fixed now in `tesseract_ros`, judging by the fact that it passes CI and looking at [this line](https://github.com/ros-industrial-consortium/tesseract_ros/blob/943c9e83f842b

[2020-04-03 19:33] jianye0428 commented on #258
ihave installed the package again and it seems this problem has been fixed! thx!

[2020-04-03 19:33] #258 closed

[2020-04-06 14:01] mpowelson opened #276 "Tesseract Collision assert triggering"
I am getting an assert triggered [HERE](https://github.com/ros-industrial-consortium/tesseract/blob/02cd020bd73ebcb9fd356494d3874f07aedc1fa7/tesseract/tesseract_collision/include/tesseract_collision/core/common.h#L128) during a box-box check using the BulletDiscreteSimpleManager. Are the if statements set up correctly here?

[2020-04-06 14:17] Levi-Armstrong commented on #276
Yea, have you rebased on the latest? I ran into this when updating the unit tests for tesseract_collision in PR #274 and I believe I fixed it.

[2020-04-06 15:31] mpowelson commented on #276
I still seem to be getting it. Is there a reason why if(found) the contact test type should not be first?

[2020-04-06 15:46] Levi-Armstrong commented on #276
Which contact manager is causing the assert?

[2020-04-06 15:58] mpowelson commented on #276
BulletDiscreteSimpleManager. It happens when I run the benchmarks in debug.

[2020-04-06 16:08] Levi-Armstrong commented on #276
Does the benchmark run multiple threads?

[2020-04-06 16:13] mpowelson commented on #276
I'm not sure. I think it can.

[2020-04-06 16:39] mpowelson commented on #276
This was my own fault. I was not clearing the contact results before calling contactTest. Apparently this is not necessarily a problem (you may not notice in release), but will result in poor performance.

I had to change
[code]
to
[code]

[2020-04-06 16:39] #276 closed

[2020-04-07 18:06] mpowelson opened #279 "addCollisionObject Does not overwrite objects with duplicate names"
This came up in testing benchmarks. Adding an object with the same name as one that already exists (e.g. adding the same object more than once) does not overwrite the existing object in all cases. In the BulletDiscreteSimpleManager, collisionObjects are stored in a map, so there was no problem. However in the BulletDiscreteBVHManager they were not. This resulted in intermittent segfaults deep in B

[2020-04-07 19:44] #279 closed

[2020-04-21 20:30] johnwason commented on #184
An interesting article discussing glTF from the Godot team:

https://godotengine.org/article/we-should-all-use-gltf-20-export-3d-assets-game-engines

glTF 2.0 supports vendor extensions:

https://github.com/KhronosGroup/glTF/tree/master/extensions

Would it make sense to add robot specific extensions to glTF as a replacement for SDF and URDF?

[2020-04-22 10:28] gavanderhoorn commented on #184
It would be interesting, but this starts to sound rather like Collada. That also supports extension points.

A good example of a tool which uses extensions to Collada heavily for robotics purposes is OpenRAVE.

Problem with "vendor extensions" is that most of the time, vendors don't support extensions of other vendors (for whichever reasons). You can then get into the situation where loading a mes

[2020-04-22 10:33] gavanderhoorn commented on #184
We could of course decide we care about none of that and still use glTF. I did not want to imply that should not be done.

But if the goal is to find a format which can be used both as urdf / sdf and what have we can (ie: by humans, in OSS projects, etc) *and* can be reliably imported and exported from commercial tools, we have to be careful.

[2020-04-22 17:44] johnwason commented on #184
@gavanderhoorn Khronos is collecting extensions, reviewing, and storing them in the main repo:

https://github.com/KhronosGroup/glTF/tree/master/extensions

There is a dependencies statement in the file to indicate which extensions are required.

It also appears Solidworks has an exporter for glTF now: https://blogs.solidworks.com/solidworksblog/2019/01/introducing-solidworks-extended-reality.html

[2020-04-28 17:54] Levi-Armstrong opened #286 "Add Microsoft GSL"
I have not found if this can be installed using sudo apt, if not we can add it to tesseract_ext. This provides tools build around the CPP Core Guidelines to make it easier to integrate aspects of the guidelines. [GSL](https://github.com/Microsoft/GSL)

[2020-05-07 15:03] Levi-Armstrong opened #287 "Integrate toppra for time parameterization."
https://github.com/hungpham2511/toppra

[2020-05-07 15:10] mpowelson commented on #287
@marrts  might have some useful code around somewhere. This was discussed in [this crs pull request](https://github.com/swri-robotics/collaborative-robotic-sanding/pull/36).

[2020-05-07 15:33] gavanderhoorn commented on #287
Exactly. I was just going to post a comment about this.

And it's all configurable as well.

[2020-05-07 16:00] marrts commented on #287
I didn't look too much into toppra at that time and I ended up using [this modified code from moveit's iterative spline parameterization](https://github.com/schornakj/iterative_spline_parameterization) from @schornakj which has served well for me but doesn't control for tool speed at all, just joint velocity and acceleration.

[2020-05-07 18:21] Levi-Armstrong commented on #287
If they are integrating it using qpOASES could we just introduce it as a cost/constraint to our trajopt problem with the new IFOPT integration work? This way it may influence the final trajectory instead of a post trajectory operation.

[2020-05-24 20:14] hzyjerry opened #293 "Planning with a subset of joints"
Hi there,

I'm wondering if there is a way to only run tesseract planning with a subset of joints? I tried

- specifying `passive_joint` in srdf, and looks like tesseract is able to pick it up, but tesseract planning still moves those joints
- setting the joints to `fixed` in urdf, which works, but feels a bit hacky.

Thanks!

[2020-05-24 20:18] hzyjerry commented on #293
Oops just found out that you can name a `group` of joints `manipulator` and only work with that using tesseract planning. Very neat!

[2020-05-24 20:18] #293 closed

[2020-05-25 17:13] Levi-Armstrong commented on #293
Glad you found a solution. When using a list of joints it will be represented as a kinematic tree. It also provides a method for updating all other joints in the environment in the kinematics object since the kinematic objects are not aware of other joints.

[2020-05-27 17:51] mpowelson opened #294 "Unit Tests fail in Code Coverage build"
This is mentioned in #292 but is happening in nightly builds as well.

[2020-05-27 17:57] Levi-Armstrong commented on #294
Only during code coverage build the FCL BVH contact manager return 299 contacts for the large scale test when it should return 300. Though during the kinetic and melodic build it passes.

The plan is to dump all contacts information to a csv to track down which one it is missing to help determine the root cause.

[2020-05-28 22:38] schornakj opened #296 "Improve management of external dependencies"
This is a continuation of a discussion that started in [PR #20 in tesseract_ros2.](https://github.com/ros-industrial-consortium/tesseract_ros2/pull/20).

To briefly summarize:

- Currently `tesseract_ext` uses CMake's `AddExternalProject` function to clone and build Bullet, FCL, and some other packages. There might be a better way to approach this.
  - Benefits
    - Allows passing CMake flags to

[2020-05-29 09:50] gavanderhoorn commented on #296
There is no support for recursively retrieving sources using `wstool` or `vcstool`. See [](https://answers.ros.org/question/314789) for a ROS Answers Q&A about that topic (@VictorLamoine commented with a link to a bash script he wrote to work-around that).

I believe the idea is to use `rosinstall_generator` for those cases. That will generate a `.rosinstall` file for you including all the require

[2020-05-29 14:01] mpowelson opened #297 "Unit Test TODO"
- [x] tesseract_common: ltrim, rtrim, trim
- [ ] tesseract_common: QueryStringValue
- [ ] tesseract_common: QueryStringAttribute(Required)
- [ ] tesseract_common: QueryDoubleAttributeRequired
- [ ] ManipulatorManager::getGroupNames
- [ ] ManipulatorManager::getChainGroups
- [ ] ManipulatorManager::addLinkGroup
- [ ] ManipulatorManager::removeLinkGroup
- [ ] ManipulatorManager::removeROPKinematicsS

[2020-05-29 23:28] Levi-Armstrong commented on #294
This seems to have gone away on its own. Not sure what was going on but we will this open for a bit to see if it shows up again.

[2020-06-06 12:59] gavanderhoorn commented on #184
Seems this discussion is something which could be interesting in the context of https://github.com/ros/urdf/issues/34 as well.

[2020-06-06 13:05] gavanderhoorn commented on #184
And I just noticed Blender 2.8 and newer support gTLF.

[2020-06-06 19:25] johnwason commented on #184
There are a few existing proposals to create a glTF based replacement for URDF and SDF:

* https://ieeexplore.ieee.org/abstract/document/8971739
* https://gist.github.com/mikedh/ce09d1bf83767fefded25be519a61564

I am probably going to try to put together a working group to see what interest there is. I don't think either URDF or SDF are going to work for my current projects.

[2020-06-06 19:35] gavanderhoorn commented on #184
I'd suggest to try and reuse something existing if at all possible, for obvious reasons.

[2020-06-06 19:38] johnwason commented on #184
We are planning on using glTF with extensions

[2020-06-06 19:46] gavanderhoorn commented on #184
If we're honest, I'd hardly call these proposals. The first is a paper by two researchers and the second is a gist with some good ideas, but there doesn't appear to be any implementation available (and the gist is already almost 1.5 years old).

You seem to have started KhronosGroup/glTF#1816. Is that the "glTF with extensions" you mention?

[2020-06-06 19:54] johnwason commented on #184
Yeah, I asked @wlawler45 to take a look. The amount required to add robot information to glTF is fairly minimal. We are going to come up with a formal proposal over the next few weeks/months. The infrastructure to support glTF is already widely available (far more than even COLLADA), so it should not be all that difficult.

[2020-06-07 07:37] gavanderhoorn commented on #184
There are now a few different discussions going on in parallel.

I posted a link to this issue here on ROS Discourse: [Web-based URDF visualization tool and library opensourced from NASA JPL](https://discourse.ros.org/t/web-based-urdf-visualization-tool-and-library-opensourced-from-nasa-jpl/14404/5).

@gkjohnson responded there. Perhaps he'd like to post a few comments here as well.

[2020-06-08 19:34] gkjohnson commented on #184
Thanks @gavanderhoorn! I'm happy to share a few thoughts.

For some more context I work at JPL as a software engineer specializing in robotics visualization tooling but these are of course just my personal opinions. While we do quite a bit of ROS related work we primarily launch non-ROS-based platforms so my use cases may reflect a different point of view but I'm a big advocate for using standards

[2020-06-08 19:58] gavanderhoorn commented on #184
@gkjohnson: thanks for the comments here.

It seems some of the glTF developers/community members share your views: https://github.com/KhronosGroup/glTF/issues/1135 seems to go in a similar direction (https://github.com/KhronosGroup/glTF/issues/1135#issuecomment-640714609).

[2020-06-08 20:47] johnwason commented on #184
@gkjohnson I interned at the DARTS lab at JPL back in 2004-2005, not sure if it is the same group

The primary motivation for the RPI and my group to develop something different is for the new Robot Raconteur ecosystem that is slightly different than ROS, in that the different pieces of information will be distributed among the components in a more ad-hoc fashion rather than being on the same file

[2020-06-09 07:47] gavanderhoorn commented on #184
As a mesh format, yes.

So is the "resources have to be local" challenge the real motivation for looking at glTF?

Because that sounds like something which could (and perhaps *should*) be solved differently.

If the current planned approach would be to do this with an extension to glTF, how would that be different from 'custom plugins'? As far as I can tell, there is no requirement for glTF consum

[2020-06-10 05:49] gkjohnson commented on #184
Hey hey! I suppose I shouldn't be surprised to run into someone who used to work at JPL on here. The group I work in focuses on tools specifically for commanding and operations rather than simulation -- I'm familiar with the DARTS group, though.

I agree with @gavanderhoorn. I feel the need for an application to dynamically derive the robot model (which sounds awesome) is separate from the need to

[2020-06-10 08:00] gavanderhoorn commented on #184
@johnwason: it may appear as such, but I'm not necessarily against using glTF here (and it wouldn't matter if I was, I'm not involved in your project).

My motivation for posting my comments is to better understand your use-case, and to see whether there are ways to achieve what you're after without going for a different graphics format immediately.

As an example: to deal with the "mesh resources

[2020-06-11 09:30] gavanderhoorn commented on #184
This is indeed not something URDF supports right now. SDF does, but you've ruled that out as too complex.

This would not be something you solve by using a different format imho. See the earlier comments in this thread.

Another way of saying this: there are perhaps alternative ways to solve this.

(and off-topic, but Collada actually support(s)(ed) composing models out of other models and support

[2020-06-12 02:00] Levi-Armstrong commented on #296
Doesn't an external workspace solve these issue? I typically have two workspace for every project and external workspace where I put packages I normally do not touch and then the main workspace with the packages I am working on.

[Here](https://github.com/ros-planning/moveit_ci/blob/556b9f19db6346812d2a2027b411a3334c1b778c/travis.sh#L217-L236) is how MoveIt CI does this. It basically loops over ev

[2020-06-12 02:06] Levi-Armstrong opened #302 "Add colcon.pkg file to every package."
In order for pure cmake packages to be discovered by the ROS2 ecosystem it requires an environment hook so the package gets added to the environment variable AMENT_PREFIX_PATH.

The following must be done.

Add this to the tesseract_package cmake macro.
[code]

Create a colcon.pkg file in every package with the following content.
[code]

For more details see this [issue](https://github.com/ros-inf

[2020-06-12 11:16] gavanderhoorn commented on #296
The official name for your "external workspace" is an *underlay*.

And yes, that's what you would use an underlay for.

This is a custom bit of script (similar to the one I linked to on ROS Answers).

Of course you could do something like this. The disadvantage of this approach however is it doesn't take care of any conflicts (ie: my dependency depends on something I also depend on, and now I have

[2020-06-12 21:23] gkjohnson commented on #184
Thanks for a more detailed list.

I am using URDF with GLTF very successfully in web tools but it sounds like you're interested in using GLTF for more than URDF is intended for -- to represent and transmit / sync state for everything in system rather than just robots.

To a few of your points:

I'm not following why you need this in the file format itself. It should be easy to convert to and from

[2020-06-12 21:49] johnwason commented on #184
I think between @gavanderhoorn @gkjohnson @Levi-Armstrong @wlawler45 myself and maybe someone from ARM and/or NIST we probably have enough people for a working group. Shall we set one up to hammer something out? I am open to other options beyond glTF but we need something to fill this gap.

[2020-06-15 07:31] gkjohnson commented on #184
@johnwason I'm happy to take part if you want to set something up!

[2020-06-15 22:14] hzyjerry opened #304 "Planning in dynamic environment"
Hi! I'm wondering if the current tesseract framework supports planning in dynamic environment? For instance, you want to attach a part to a vehicle that is moving fix-speed on a conveyer belt. It'd be a super nice feature that fits my use case.

If it's not supported yet, I wonder what changes in tesseract do you foresee that this function would entail?

Thank you for your insight!

[2020-06-16 03:36] Levi-Armstrong commented on #304
So Tesseract at the core was designed for this, so components like tesseract_collision, tesseract_environment, etc. fully support this dynamic functionality. The current motion planners function by taking a snap shot of the environment in time and create a robot trajectory. Then when executing the trajectory we assume the environment has not changes. On our system we currently leverage the contact

[2020-06-16 05:56] hzyjerry commented on #304
The realtime motion planning example is really cool! I'll definitely be playing with the example and reading up on the latest updates in the next few days.

The trajectory splicing method seems the most reasonable way to go. Earlier I was thinking of another perhaps more "hacky" way of dynamic trajOpt by:

1. making `n_steps` copies of tesseract environments, each set to i-th future state
2. runni

[2020-06-16 12:29] mpowelson commented on #304
I will say that while we are pretty excited about the realtime planning as well, if you just need something to work in simulation you could probably get something working pretty easily using a variation of your approach. You could represent the conveyor as a prismatic in the urdf. Then you can place constraints on the conveyor's positions (or velocity) and plan to a frame attached to the conveyor

[2020-06-16 16:51] hzyjerry commented on #304
@mpowelson @Levi-Armstrong thank you for the awesome insights! Closing this issue as the original problem has been resolved.

[2020-06-16 16:51] #304 closed

[2020-06-18 21:29] johnwason commented on #184
We discussed this a bit during our project meeting, and @Levi-Armstrong suggested we create a URDF 2.0 spec and begin using it with tesseract. Maybe we should call it urdf-ng (next gen) to distinguish it from the OSRF URDF. I am open to this option if that is more agreeable.

[2020-06-18 21:52] johnwason commented on #184
@gkjohnson do you think it is possible to integrate something like this editor with a URDF system? https://threejs.org/editor/

I have been planning to use Babylon.js because it has an editor, VR, and physics engine directly integrated. Is there a reason you chose three.js instead of Babylon.js?

[2020-06-20 19:05] gkjohnson commented on #184
I'm less familiar with the three.js editor but looking over the code briefly it would require modifying the editor to add something like URDF into the import dropdown but that should be doable. Maybe a sidebar could be added to display joint angles.

I use and contribute to three.js quite a bit and have less experience with Babylon so full disclosure my answers will likely be skewed by that a bit.

[2020-06-20 20:13] gavanderhoorn commented on #184
The "only" reason URDF (as in: the file/markup format) doesn't allow you to have joints with multiple parents is because the default (and essentially only) IK solver at the time it was created didn't support those (ie: KDL).

Allowing multiple parents in URDF is really not that difficult, and just requires a few changes.

It's the algorithm behind it that is where the work is (finding one that is)

[2020-06-22 14:03] clalancette commented on #184
I have a few thoughts to share here.  None of this is meant to discourage the current work going on, but is more intended to give some ideas of what has been going on so we can better collaborate.

1.  We did recently introduce the "version" tag to URDF.  That was done in https://github.com/ros/urdfdom/pull/133 and https://github.com/ros/urdf_parser_py/pull/52 .  With that in place, it may be poss

[2020-06-22 14:19] mpowelson commented on #184
From my perspective, one of the biggest problems we had when @Levi-Armstrong made the Tesseract URDF parser was that there wasn't really a defined URDF spec other than the wiki. I'd have to dig through the [pull request](https://github.com/ros-industrial-consortium/tesseract/pull/117) to remember the specific issues we had, but there were several occasions where the wiki was unclear on things. It

[2020-06-22 14:55] traversaro commented on #184
A related proposal is presented in https://github.com/ros/urdfdom_headers/issues/62 .

[2020-06-22 15:26] Levi-Armstrong commented on #184
@clalancette We are interested in collaborating on further extending URDF mostly around the specification as for the near future we will maintain our own parser. I am interested in getting some of the current features in our parser incorporated into the specification like quaternions, convexhull geometry, octomap geometry, capsule geometry, etc. I would also like to see some of the concepts from t

[2020-06-22 16:45] johnwason commented on #184
Whichever file format is selected, it needs to have a strong extension system like glTF, which makes it clear which extensions are in use and whether these extensions are optional. There should probably also be an "alt" tag for if the extension isn't available. Trying to include every special use case in the URDF spec is probably not necessary, and trying to work around the lack of extensibility i

[2020-06-22 22:26] clalancette commented on #184
To be clear, there is a spec: https://github.com/ros/urdfdom/blob/master/xsd/urdf.xsd .  I don't know whether it is 100% up-to-date, or fully supported by the parser, but it should be mostly correct.  That being said, there is of course a lot of room for improvement, to the spec itself (to add new features), to the parsers (to support existing or new features), and to documentation.

To my mind, t

[2020-06-22 23:24] clalancette commented on #184
Thinking about it further, I think the right path forward here would be to put together a working group, something like "Robot/World Model Representation".  This would be a working group similar to the Real-time Security, Tooling, or myriad other groups.  That way, it would be announced on https://discourse.ros.org, and a variety of interested parties can interact in a more real-time fashion.

Wha

[2020-06-22 23:34] johnwason commented on #184
Another option is to create a subset of SDF. SDF has many features which are Gazebo specific, or not really necessary for robot description.

I suggested a small working group earlier. I am on a deadline of a few months for a different project that doesn't necessarily need full ROS compatibility, although having something universal is certainly preferred to avoid fragmentation. The general ROS com

[2020-06-22 23:38] johnwason commented on #184
Looking through the specs of URDF and SDF, we are basically going to reinvent SDF to add the necessary functionality to URDF, with a few relatively minor features like quaternion support and extension enforcement added on.

[2020-06-22 23:40] Levi-Armstrong commented on #184
I am onboard.

[2020-06-23 00:13] Levi-Armstrong commented on #184
I agree.

[2020-06-23 01:32] johnwason commented on #184
This is a document explaining one of the projects motivating this need (currently funded):
[Open-Source Teach Pendant Programming Environment Software Architecture.pdf](https://github.com/ros-industrial-consortium/tesseract/files/4816465/Open-Source.Teach.Pendant.Programming.Environment.Software.Architecture.pdf)

[2020-06-23 04:59] gkjohnson commented on #184
@gavanderhoorn

You probably know more about the state of RViz / the ROS ecosystem more than I do -- has the solver been updated? Would applications be able to handle systems with parallel kinematics? Is this a matter of the docs not being updated, as well?

@mpowelson

Agreed. I think documentation is a big need especially if it's expected that the format can be used more broadly.

@johnwason

De

[2020-06-23 12:43] Levi-Armstrong commented on #184
I agree and what you are describing is more or less the [SDF format](http://sdformat.org/spec). Where in this case the model element in SDF is the the URDF as you described it above. Then the world and light tag is the scene representation.

[2020-06-23 18:01] johnwason commented on #184
I created a repo for a potential working group: https://github.com/wasontech/robot-description-wg

For now I am using my company's organization. This may move to RPI or ARM depending on how a formal group is organized. Please create one issue for each feature request so we can discuss them individually.

[2020-06-24 23:57] johnwason commented on #184
Please watch https://github.com/wasontech/robot-description-wg if you wish to be notified of new proposed changes.

[2020-06-25 00:07] clalancette commented on #184
I'm also going to setup an in-person call and announce a working group on discourse.  I just have been running out of time every day.  I'll post here once I've set something up.

[2020-06-25 00:09] johnwason commented on #184
@clalancette I think it may be better to create an initial proposal first with a small group before announcing to the broader community. These things have a tendency to get bogged down with too many cooks in the kitchen.

[2020-06-25 00:18] johnwason commented on #184
Is there a charter template for ROS 2 working groups?

[2020-06-25 00:54] johnwason commented on #184
Initial charter added to readme: https://github.com/wasontech/robot-description-wg/blob/master/README.md

A two step process is suggested to help deal with deadlines for our active projects.

[2020-06-25 12:39] clalancette commented on #184
While I somewhat agree, there is a lot of duplication going on here.  Which means there are already a lot of cooks, they are just in different kitchens and not talking to each other.  That's why I'd rather have all of the people who care about this get together at least once.  If the outcome of that is a small group that goes away and comes back with something, that's fine.

[2020-06-29 16:53] johnwason commented on #184
@clalancette that seems reasonable. If we want to do a community-wide working group, it should probably be done through ROS rather than me running it (I am a one-man shop). That unfortunately does not solve the active projects' near-term needs.

[2020-06-29 21:33] mpowelson commented on #302
Addressed in #303

[2020-06-29 21:33] #302 closed

[2020-07-03 01:05] hehonglu123 opened #317 "Scaling issue from DAE files"
URDF loader isn't correctly handling scaling from sketchup DAE files.
Collada mesh file: https://gist.github.com/hehonglu123/0afdb2bab3d744cd5abe5fe0bb30fd9c

In Gazebo:
![Screenshot from 2020-07-02 21-03-50](https://user-images.githubusercontent.com/44752310/86421320-972b9e80-bca7-11ea-9b40-dfc84508a692.png)
In Tesseract Viewer:
![Screenshot from 2020-07-02 20-59-31](https://user-images.githubuse

[2020-07-06 14:49] Levi-Armstrong commented on #317
Yea, it is possible that the scale is not being handled yet.

[2020-07-06 21:28] mpowelson commented on #294
@Levi-Armstrong This hasn't popped up again has it? Should we close this?

[2020-07-06 21:29] #294 closed

[2020-07-06 21:30] Levi-Armstrong commented on #317
@haudren Are you providing a scale in the urdf or are you suggesting that the dae file itself has a scale which is not being handled?

[2020-07-06 21:38] hehonglu123 commented on #317
I tried the urdf with scale and without, not affecting the result (giant). I believe there's default scale in .dae files. .stl file works fine with the default scale; but with scale parameter in urdf, it's different than what shows up in gazebo.

[2020-07-06 21:43] Levi-Armstrong commented on #317
What visualizer are you using?

[2020-07-06 21:45] hehonglu123 commented on #317
tesseract_viewer_python

[2020-07-06 21:57] johnwason commented on #317
I checked the output from the Mesh class, and the triangle positions are far larger than they should be. The tesseract_viewer_python passes the output directly from the Mesh class, and then adds the scale separately. I confirmed that the scale values passed to the viewer matched those specified in the URDF file. The issue seems to be a transform in the dae file that is not being applied to the pos

[2020-07-07 02:03] Levi-Armstrong commented on #317
@johnwason are you working on a fix?

[2020-07-07 04:58] johnwason commented on #317
No, we were able to work around this problem by using STL files. The problem only seems to occur with sketchup exports.

[2020-07-07 13:52] Levi-Armstrong commented on #317
Do you mind posting the sketup dae and the stl?

[2020-07-07 15:53] hehonglu123 commented on #317
stl: https://github.com/hehonglu123/RR_Project/blob/master/simulation/models/box2/box2.stl
dae: https://github.com/hehonglu123/RR_Project/blob/master/simulation/models/box2/model.dae

[2020-07-15 21:37] #286 closed

[2020-07-15 21:45] Levi-Armstrong opened #333 "Leverage Composite Start Waypoint for Motion Planner Results and Seed"
Currently Composite Instruction has a setStartWaypoint for setting the start state for the motion planners.

Request:

- Composite
  - Start Waypoint
  - Plan Instruction
  - Plan Instruction
  - Plan Instruction

Seed/Results:

- Composite (Has not start waypoint captured in the move instrucitons)
  - Composite
    - Move Instruction (Corresponds to the start waypoint in the request)
    - Move I

[2020-07-15 21:45] Levi-Armstrong commented on #333
@mpowelson Thoughts?

[2020-07-15 21:48] mpowelson commented on #333
This should be Start Instruction right? Such that it can be stored in a CompositeInstruction. If so, that is basically just a MoveInstruction right?

[2020-07-15 21:49] mpowelson commented on #333
Or are you just saying that we should fill out the start waypoint in the seed composite?

[2020-07-15 21:58] Levi-Armstrong commented on #333
Yea and remove the first move instruction in the first composite. I imagine eventually we will change the composite to have a setStartState instead of setStartWaypoint where the start state is a class which includes a waypoint but may also include other start information.

[2020-07-15 22:33] mpowelson commented on #333
What if we added a Placeholder instruction

Before planning
Instruction:
- Composite: 1
   - Composite: 1.1
       - Move Instruction (start state)
       - Plan Instruction
   - Composite: 1.2
       - Placeholder Instruction
       - Plan Instruction

Seed:
- Composite: 1
   - Composite: 1.1
       - empty
       - empty
   - Composite: 1.2
       - empty
       - empty

After Plan of 1.1
Instru

[2020-07-17 18:09] Levi-Armstrong commented on #317
I have found the issue and not sure how best to fix it.

https://github.com/ros-industrial-consortium/tesseract/blob/b79ea6bcad011bd17761d96cf50e2f0f1c5d35c3/tesseract/tesseract_geometry/include/tesseract_geometry/mesh_parser.h#L191-L196

and

https://github.com/ros-industrial-consortium/tesseract/blob/b79ea6bcad011bd17761d96cf50e2f0f1c5d35c3/tesseract/tesseract_geometry/include/tesseract_geometry

[2020-07-17 18:41] johnwason commented on #317
Yeah, the ROS software doesn't handle collada format properly. I suggest we deprecate it in favor of glTF since  collada is so ambiguous.

Does RViz have the same problem?

[2020-07-17 19:04] Levi-Armstrong commented on #317
RViz does have the same problem.

[2020-07-19 19:19] Levi-Armstrong commented on #317
I appears to be a assimp importer issues shown [here](https://github.com/assimp/assimp/issues/849).

[2020-07-19 23:07] johnwason commented on #317
I tracked down the rotation problem to the way RViz imports dae files:

https://github.com/ros-visualization/rviz/blob/291df89957e2f643a3fde28e5cb239fe1f6f5b73/src/rviz/mesh_loader.cpp#L240

I suspect that this is where the scaling issue is coming from as well. Unfortunately all ROS software has this issue so it is probably not possible to fix it now.

[2020-07-29 15:19] #333 closed

[2020-07-29 15:19] Levi-Armstrong opened #339 "Feature Command Language TODO's"
- [x] Fix broken unit tests
- [x] Implement the process generators for
  - [x] Format check (for checking that seed matches instruction)
  - [x] Discrete Collision
  - [x] Continous collision
  - [x] FixStartCollision (#370)
  - [x] FixStartBounds (#369)
  - [x] Visualization Process - visualize plan/move instructions using ignition or rviz, perhaps with a way to pause the process for inspection

[2020-08-05 23:41] mpowelson opened #343 "Parsing box with dimensions of 0"
I'm not necessarily recommending we change this, but it looks like urdfdom is happy to parse a box with dimensions of 0. Tesseract does not. It returns a fairly generic `ErrorAttributeSizeConversion` error.

Perhaps we could give a more specific error message to aid in tracking down what exactly is the problem with "legacy" urdfs.

[2020-08-06 01:04] Levi-Armstrong commented on #343
Sure, just need to add a new error code and test.

[2020-08-06 15:02] mpowelson commented on #343
I'm not sure when I will get to this, but it should be minimal. The code that needs to be changed is here
https://github.com/ros-industrial-consortium/tesseract/blob/master/tesseract/tesseract_urdf/include/tesseract_urdf/box.h

[2020-08-11 20:54] mpowelson opened #344 "Continuous Joints don't show up in active joint list"
Getting active joints like `tesseract->getEnvironment()->getActiveJointNames())` does not show the continuous joints

[2020-08-14 23:33] mpowelson opened #347 "Feature Request: Add Init Command to Environment Commands"
The Environment maintains a command history keeps track of changes applied and allows other copies of the environment to replicate them. This has the potential to become burdensome if a system is kept running for long periods of time with frequent changes (e.g. tool changes or adding collision objects to the environment).

This feature would add an init command that tells the environment to save i

[2020-08-18 22:43] mpowelson commented on #339
@Levi-Armstrong One issue I have not dug into, using the default config OMPL says that "Start state is in collision" when it still has a position distance (one example is 0.016223). I imagine we need to change the defaults such that the precheck sets a threshold of 0.

[2020-08-18 22:53] mpowelson commented on #339
It looks like the default distance threshold is set to 0.025. For OMPL shouldn't it usually be 0?

[2020-08-18 22:55] Levi-Armstrong commented on #339
Yea I think all of the planners default to 0.025. I am good with changing the defaults.

[2020-08-20 14:48] Levi-Armstrong commented on #347
@mpowelson With the addition of the SceneGraph Command is this resolved? Also do we need to retain the TesseractInitInfo anymore?

[2020-08-20 14:56] mpowelson commented on #347
I don't know about the init info. I suppose keeping that information can't hurt. Do things like manipulator groups get serialized? I suppose what I am really wanting is a way to keep a bunch of Tesseracts across ROS nodes in sync. If I initialized a Tesseract with the deserialized scene graph, I'm thinking some information in the URDF/SRDF is still lost.

[2020-08-20 14:58] mpowelson commented on #347
Also, the piece about squashing environment changes every x minutes or when the history gets to be y long still needs to be done I believe.

[2020-08-20 15:05] Levi-Armstrong commented on #347
Ah. yea need to serialize different components of the srdf. The allowed collision matrix are in the scene graph but need to add manipulator groups, tcp and opw to the Tesseract State message. I will start working on this.

[2020-08-20 17:35] Levi-Armstrong commented on #344
@mpowelson Has this been addressed?

[2020-08-20 18:31] mpowelson commented on #344
It was merged into master in 6dee0e

[2020-08-20 18:50] Levi-Armstrong commented on #344
I will rebase feature/CommandLanguage

[2020-08-20 19:04] schornakj opened #354 "[feature/CommandLanguage] ROS2 class_loader API change breaks tesseract_visualization"
The line below in `tesseract_visualization/src/visualization_loader.cpp` fails in ROS2:

https://github.com/ros-industrial-consortium/tesseract/blob/dc987d5bf64f230ad315c47e682f2bd79bf42f35/tesseract/tesseract_visualization/src/visualization_loader.cpp#L91

[code]

I think this is because [this function was renamed to `createInstance`](https://github.com/ros/class_loader/blob/376005f173f34df8a2065

[2020-08-21 01:48] Levi-Armstrong commented on #354
I thought class loader was ros agnostic?

[2020-08-21 01:56] Levi-Armstrong commented on #354
I think we can switch to the Unique version. The only reason I did not initially use that was it was not available for kinetic. I think I should be able to check the version of class loader and switch for the kinetic.

[2020-08-21 02:01] schornakj commented on #354
I was under that impression as well. IMO it would have made more sense to keep the function signatures the same so that contemporary ROS1 and ROS2 releases could use the same API.

Sounds reasonable!

[2020-08-22 19:42] Levi-Armstrong opened #358 "KDL State solver cloning is slow"
It has been identified with the recent ability to clone the environment that the state solver clone in release takes about a second. Leveraging valgrind callgrind it was determined that 41% of the time is spent processing the graph to confirm it is a tree structure and another 47% of the time is spent building the tree. This currently happens because the onEnvironmentChanged method for the KDL sta

[2020-08-24 16:00] mpowelson commented on #358
@Levi-Armstrong What executable are you using to profile this? The tesseract_environment unit tests?

[2020-08-24 17:56] Levi-Armstrong commented on #358
Yea the environment unit test.

[2020-08-24 22:28] mpowelson commented on #339
Do you think time parameterization (and any other planning adapter like things) should be profile-aware? If so, do we want to go the whole way of wrapping it as a motion planner or just add it to the process generator? It's only got 2 parameters, but it seems like it might be nice to set them via profile. e.g. set the scaling factor really low on FINE moves but set to 1 on FREESPACE moves.

[2020-08-24 22:29] mpowelson commented on #339
Of course I think your only option then is to assume that the robot stops whenever the profile changes and run ISP on the sections separately.

[2020-08-24 22:31] #344 closed

[2020-08-25 03:03] Levi-Armstrong commented on #358
Well it turns out that KDL tree does not allow you to modify segments after they have been added to the tree. It looks like you have to recreate the tree if you make any modifications. This seems odd but I will keep exploring. In mean time I have added a new state solver in PR #360 which should provided an alternative providing a better solution for Tesseract.

[2020-08-25 14:23] mpowelson commented on #339
After offline discussion we decided to address this in 2 ways. First, we will expose process generators in the taskflow generators allowing things like parameters to be changed after adding them. Second, we will profiles to ISP in the process generator but not fully wrap it as a motion planner since that seemed like overkill.

[2020-08-27 17:33] Levi-Armstrong commented on #358
Closing because a new state solver has been implemented to overcome the challenges with the KDLStateSolver.

[2020-08-27 17:33] #358 closed

[2020-08-28 14:07] Levi-Armstrong opened #368 "Default Taskflow Discussion"
Currently we has a set of default taskflows.

1. TrajOpt Taskflow
    - This can either take a single instruction or a composite instruction containing child composites.
    - It will run (interpolator, trajopt, collision check, time parameterization) in series.
2. OMPL Taskflow
    - This can either take a single instruction or a composite instruction containing child composites.
    - It will ru

[2020-08-28 14:44] mpowelson commented on #339
@Levi-Armstrong How would you implement something like the MoveIt FixStartStateBounds? The issue is that we would be changing the ProcessInput instruction (which is const) rather than the seed, so I don't think it would fit into our current process pipeline. A couple of options I see

1. Push it to the caller. Just tell people not to send the pipeline requests that are invalid
2. Add it to the pro

[2020-08-28 14:50] mpowelson commented on #339
Ah.. That might do it as long as its only the start and end that you are trying to fix.

[2020-08-28 14:51] mpowelson commented on #339
Do all of the planners respect that currently?

[2020-08-28 14:52] Levi-Armstrong commented on #339
What ever creates the planning request that gets sent to the planner does.

[2020-08-28 14:57] mpowelson commented on #339
Ok. I'll make a process generator that overrides the start or end and clamps it to the joint limits if they are outside.

[2020-09-01 13:06] Levi-Armstrong commented on #347
@mpowelson I am in the process of updating the Environment Monitor and need to figure out how best to serialize the kinematics with change history. Currently the only component that supports change history is the Environment which does contain item from the srdf (the allowed collision matrix), would it make sense to add the kinematics factories to the environment? The main reason for this, is then

[2020-09-01 17:06] schornakj commented on #347
One issue we've run into with having a "local" Tesseract that monitors the main environment is that it currently relies on the revision ID always staying in sync for each environment update. If the ID gets out of sync (missed an update, one of the Tesseracts was reset, etc.) then it isn't possible to update the local environment anymore, with rather disruptive consequences for motion planning and

[2020-09-01 17:15] mpowelson commented on #368
One comment I have is that this is adding a lot of code to maintain. While I am all for open sourcing capability and making it as easy as possible to get something to work, I wonder if these would be better suited in an examples repo.

[2020-09-01 17:21] Levi-Armstrong commented on #347
The current proposed switch would be to only leverage the TesseactState Topic for the revision number of the monitored environment. When creating the EnvironmentMonitor you provide a namespace for the environment and all topics/services are advertised /namespace/topic or /namespace/service. Then if you create an Environment monitor which does only monitors an environment (namespace), in the monito

[2020-09-01 17:29] Levi-Armstrong commented on #368
That is true. The hope is in the end that these would just be represented in a config file which get dynamically generated. This way we only have to maintain the tool that can parse the xml and build the graph taskflow.

[2020-09-01 17:40] schornakj commented on #347
I think the behavior I'd prefer is that if the upstream environment ends up with a lower revision number (for example if the main EnvironmentMonitor node was shut down and restarted) then all the dependent environments should reset to match the newest state of the upstream environment, rather than pushing their latest state back to the upstream environment. It sounds like this is something we coul

[2020-09-04 02:22] Levi-Armstrong commented on #103
Add support for taskflow and leveraging xml for serialization and de-serialization

[2020-09-04 02:22] #103 closed

[2020-09-04 02:24] Levi-Armstrong commented on #88
Closing, please reopen if needed.

[2020-09-04 02:24] #88 closed

[2020-09-04 02:25] Levi-Armstrong commented on #174
This is addressed in feature/CommandLanguage branch leveraging taskflow to build motion planning graphs

[2020-09-04 02:25] #174 closed

[2020-09-04 02:26] Levi-Armstrong commented on #176
replaced by command language

[2020-09-04 02:26] #176 closed

[2020-09-04 02:26] Levi-Armstrong commented on #110
replaced by command language more specifically StateWaypoint.

[2020-09-04 02:26] #110 closed

[2020-09-04 02:28] Levi-Armstrong commented on #186
This has been merged.

[2020-09-04 02:28] #186 closed

[2020-09-04 02:28] Levi-Armstrong commented on #62
We plan to leverage Ignition Robotics software packages.

[2020-09-04 02:28] #62 closed

[2020-09-04 02:33] Levi-Armstrong opened #375 "Add clang-tidy clang-analyzer- to the argument list"
https://clang.llvm.org/extra/clang-tidy/#using-clang-tidy

[2020-09-04 13:13] mpowelson commented on #339
@Levi-Armstrong I added a visualization process to the wishlist. Perhaps this could be an observer or we could build it into our motion planning process generator rather than its own thing. However, it would be nice to be able to step through the results of each process somehow.

If we can serialize the command language, it could also be an offline tool and each process could just dump the input a

[2020-09-04 13:32] Levi-Armstrong commented on #339
I think we could create a visualization container that mirrors the results and every step through the taskflow it appends the results. What do you think?

- Componsite
  - Composite (to start)
  - Composite (Raster 1)
  - Composite (Transition)
  - Composite (Raster 2)
  - Composite (to end)

Visualization
- Componsite
  - Composite (to start)
    - Composite (Simple Planner Results)
    - Composi

[2020-09-04 14:21] mpowelson commented on #339
That seems like it might make it difficult to view all of the results for each step of the process. You couldn't just flatten them and then visualize like you could if you just stored a vector of the top level composite.

Also, I think I'd avoid putting this in "Core" code. I'm thinking we could write an observer that we setup with a const reference to the ProcessInput. Then it just watches when w

[2020-09-04 15:59] Levi-Armstrong commented on #375
Included in PR #376

[2020-09-04 16:00] #368 closed

[2020-09-04 16:02] Levi-Armstrong commented on #354
This should be fixed in the feature/CommandLanguage branch, but need to create a patch for master. It looks like for ros2 they have createInstance which returns a shared pointer opposed to createSharedInstance.

[2020-09-06 21:13] mpowelson commented on #339
@Levi-Armstrong I'm not sure when I'll get to finish this up, but I made a small start toward a trajopt_ifopt planner here. Feel free to take it or leave it if you decide to tackle it.

https://github.com/mpowelson/tesseract/tree/feature/trajopt_ifopt

[2020-09-06 23:11] Levi-Armstrong commented on #339
@mpowelson Thank you starting on this. I am currently working on serialization of the kinematics data stored in the tesseract to fully be able to construct a tesseract object. I Should have this wrapped up today or tomorrow and may get to the trajopt_ifopt late next week. I will reach out before I start.

[2020-09-07 15:16] mpowelson opened #377 "Is there a quick way to get the collisions that are allowed with a specific link?"
Specifically, I want to get a vector of all of the links that are allowed to collide with a manipulator group. Is there a quick way to do this?

[2020-09-07 16:21] Levi-Armstrong commented on #377
I do not believe so. The allowed collision matrix class could be modified to store this information

[2020-09-07 17:08] #377 closed

[2020-09-07 17:23] mpowelson opened #378 "Erroneous SRDF Version warning"
Currently we have a warning in SRDF_model.cpp `"No version number was provided so latest parser will be used."`. First of all, it doesn't look like we are setting the version if it isn't given. Second, it looks like the version is never used? None of the functions it is passed into actually use it.

This has the same sort of problem as urdf versions. It is only useful if we have documentation abou

[2020-09-08 07:45] mpowelson opened #380 "Modifying kinematic limits during execution"
I want to do something like this.
[code]

I seems like it should be as simple as just adjusting the kinematic limits in the kdl data structure. Do you think there are other methods that will have to be called again? For instance, would Tesseract objects for example have to be reinitialized? I'm thinking the answer is no since I don't see anywhere where kinematics gets processed into another data s

[2020-09-08 10:54] mpowelson opened #381 "Time parameterization returning trajectories that are not monotonically increasing when given duplicate points"
It appears that ISP is returning trajectories with points that have the same time_from_start. Here is an example of results
[code]

This seems like a good thing except for the fact that velocities and accelerations are different. However, maybe we should modify it to require some small amount of time between waypoints? Ros_control doesn't like it when you pass a trajectory like this.

Is there a g

[2020-09-08 10:58] gavanderhoorn commented on #381
I would be more worried about that instanteneous acceleration of `-9.91795` rad/s^2 of joint 3 there at `time_from_start == 0.0`.

[2020-09-08 11:11] mpowelson commented on #381
Yeah. That's concerning as well. It seems that in general bad things happen if they are on top of each other. Which probably isn't too surprising

[2020-09-08 11:17] gavanderhoorn commented on #381
Splines with pts being very close to each other is not a good idea, no.

[2020-09-08 17:04] Levi-Armstrong commented on #380
It only needed at the TesseractKinematics object or are you also wanting to modify it in environment ?

[2020-09-08 17:19] Levi-Armstrong commented on #378
Currently the Tesseract Setup Wizard should set the version if used. It is currently integrated but not used because the srdf format has not changed, but it should be checking if the version is provided if it is supported. I will take a look and see if it is currently being checked. The current format is #.#.# or #.#. I will also update the warning message to include more information.

[2020-09-08 18:24] mpowelson commented on #380
I want to modify it everywhere needed for planning. So I suppose in the environment as well.

[2020-09-08 18:26] mpowelson commented on #378
If we should have a version that's fine, but what version would I use? What version is a moveit setup assistant generated one? I don't think any of the examples have the tag.

[2020-09-08 18:41] Levi-Armstrong commented on #380
I would create a new command and apply it that way, should be to much work. Maybe ModifyJointLimitsCommand?

[2020-09-08 19:18] Levi-Armstrong commented on #378
The current version is 1.0.0.

[2020-09-09 08:41] mpowelson commented on #380
Ok. Depending on if I end up needing to do this, I may add that later this week. I'll assign this to myself if I start it.

[2020-09-09 10:07] mpowelson commented on #378
So while it doesn't currently hurt anything, to eliminate the warning add version to your robot tag like below if using an srdf from the moveit setup assistant
[code]

[2020-09-09 12:39] Levi-Armstrong commented on #378
I have also updated the warning message to print what is needed to suppress the warning.

[2020-09-10 08:10] mpowelson commented on #339
One thing I have run into is that debugging flow of the graph taskflow can be difficult, and errors occur at plan time rather than construction time (when nullptrs start getting referenced). Perhaps we should add a todo to check the input to the process manager at construction time and print some useful errors (rather than segfaulting)

[2020-09-10 08:13] mpowelson commented on #339
One other thing I think we discussed somewhere but I don't see on the list is logging error messages for each step. For instance, if the process manager says "planning failed", I want to be able to look back and see what each step said went wrong. This could be in the same datastructure, but I think error messages might be more core and should be a feature built into the process manager system.

[2020-09-10 14:12] Levi-Armstrong commented on #339
I agree, I usually end up running it in a single thread and walking through the process.

[2020-09-11 13:02] Levi-Armstrong commented on #339
In the latest PR I updated the process managers so you at least know what ProcessInput failed, but need to figure out a better way to get everything back out.

[2020-09-11 14:24] mpowelson commented on #339
Yeah. I'm thinking I want to make TrajOpt smart enough to tell you why it failed for instance. Then the process managers would have an even higher level data structure. Semantically I'm wanting something like

- Interpolator: Succeeded
- Collision check: Failed - timestep: 0, Links: link_1, link_7 Dist: -0.2
- TrajOpt: Failed - Collision constraint violated. link_1 and link_7 are in collision at t

[2020-09-14 12:26] Levi-Armstrong commented on #339
Let's extend the status code class to support detailed description. I have not looked but I think that should allow you to flow the in formation up.

[2020-09-18 07:16] mpowelson commented on #339
Another feature request. We should take the plot function in problem_description in trajopt and make it a more general "plot collision results" function. Then we could add it to the contact check processes. I'm running into a case where trajopt passes with a collision constraint, but the contact check function fails.

[2020-09-18 07:22] mpowelson commented on #339
One other comment. The SimpleProcessManager must be constructed with a unique pointer to the taskflow generator. If we ever need a Tesseract inside the taskflow generator (eg to set up some visualization) then the Tesseract is usually not initialized since that has an init that has to be called whereas SimpleProcessManager has to go in the initializer list. I realize that ideally they would get th

[2020-09-18 14:32] Levi-Armstrong commented on #339
I just ran into this yesterday. The issue is that the contact have a default longest valid segment length of max integer so I have changed to be 0.1 and now my motion planning passes the post check. We will need to add a profile for this if there is not already one to make it configurable via motion request.

[2020-09-18 14:38] Levi-Armstrong commented on #339
If the tesseract object is always in the ProcessInput does that elevate the concern? I believe it should always be present

Slightly related, I have created a tesseract_monitor_interface on the ROS side that makes it easy for interacting with the Tesseract Monitor when your code does not have its own monitor. It can fully construct EnvState, Environment, Tesseract along with applyCommands to the T

[2020-09-18 17:03] mpowelson commented on #339
I'm not sure I understand the tesseract monitor part. I need to rebase up to your latest changes. I'm a bit behind.

The issue I was running into is that in order to create a plotter for trajopt I needed the joint names which are hard to get at initialization since all of the other datastructures that parse that information haven't done so yet. This perhaps could be solved similarly to how we do i

[2020-09-18 17:03] mpowelson commented on #339
Though I don't really like making plotting that core to the system

[2020-09-18 17:06] mpowelson commented on #339
With the new kinematics manager can a ProcessInput now be fully serialized? If so, I am very interested in trying it out.

[2020-09-18 23:51] Levi-Armstrong commented on #339
I believe so, If you take a look at the TesseractMonitorInterface you will find code where I fully construct a Tesseract Object from a message. Currently the only thing that is not passed is kinematics plugins like IKfast that you have loaded. This is the last remaining piece for full serialization through the Tesseract Framework. I plan to model the plugin loading similar to how Ignition handles

[2020-09-24 21:43] mpowelson commented on #339
For those interested. See this PR https://github.com/ros-industrial-consortium/tesseract_ros/pull/41

[2020-09-25 23:03] mpowelson opened #391 "Change profile to use profile named DEFAULT if not found"
How confident are we that setting the SafetyMarginData in our trajopt planner is getting correctly propagated? Even doing this like below I am getting collision distances reported unless I actually change the default values in trajop_collision_config.h. Perhaps I am doing something obviously wrong. Below does not work, but changing the default values (which I should be changing below) does. Howeve

[2020-09-25 23:03] mpowelson commented on #391
@Levi-Armstrong Have you used the special_collision_cost?

[2020-09-28 02:49] Levi-Armstrong commented on #391
I looked through the code but did not see anything obvious. It did work at some point but it has not been tested since all of the changes.

[2020-09-28 17:50] mpowelson commented on #391
Found it. This was (unsurprisingly) my fault. I had an erroneous profile name and a misunderstanding of what would happen if the profile was not found.

I was setting a profile called DEFAULT and was not paying attention to what the input was because I thought that DEFAULT would get used if it wasn't found. That is not the case. DEFAULT is only used if the profile is empty - which I'm not even sur

[2020-09-28 17:56] Levi-Armstrong commented on #391
I agree with the proposed change.

[2020-09-28 22:55] mpowelson commented on #287
I think I know the answer to this, but has anyone by chance looked into this? TOPPRA is getting some votes of confidence over on https://github.com/ros-planning/moveit/issues/2183.

[2020-09-29 13:10] Levi-Armstrong commented on #287
I had looked at it a few months back, but have not testing anything.

[2020-10-08 14:55] mpowelson opened #404 "WaypointInCollision doesn't ever return collisions"
Somewhere we discussed that [WaypointInCollision](https://github.com/ros-industrial-consortium/tesseract/blob/cf27ce01e06b880e8bcb2e26f95ec04281f157e6/tesseract/tesseract_planning/tesseract_process_managers/src/process_generators/fix_state_collision_process_generator.cpp#L46) doesn't seem to be working. I've again run into this where inputs that pass through this function without problem don't sat

[2020-10-08 15:24] mpowelson commented on #404
This seems to work instead.

[code]

[2020-10-08 16:02] Levi-Armstrong commented on #404
The issue is here. It should not be `traj.rows() - 1` it should just be `traj.rows()`

https://github.com/ros-industrial-consortium/tesseract/blob/cf27ce01e06b880e8bcb2e26f95ec04281f157e6/tesseract/tesseract_environment/include/tesseract_environment/core/utils.h#L345

[2020-10-08 16:12] mpowelson commented on #404
Yep. That would do it.

[2020-10-08 16:13] mpowelson commented on #404
I wonder if we are exploiting that bug anywhere.

[2020-10-08 17:24] Levi-Armstrong commented on #404
Not sure. I looked through that file and did not see anything else.

[2020-10-09 14:08] Levi-Armstrong commented on #404
@mpowelson Do you have a PR in the works to fix the issue; If not I can create one?

[2020-10-09 14:36] mpowelson commented on #404
I don't. Unfortunately, I won't get around to doing that this week. Sometime soon though I hope to try to get some of these things fixed rather than just hacked in the branch I am working from. I've got a list of things I'd like to do regarding collisions.

- [ ] Fix this issue
- [ ] Collision checkers segfault if LVS is set to 0
- [ ] Use safety margin in profile in fixStateCollisionProcessGenera

[2020-10-09 14:38] mpowelson commented on #404
Also, I am still tracking an issue in collision checking. I am able to plan into places I can't plan out of (in sim). Sometimes it is just within my safety margin, but sometimes it is actually in collision. I imagine we are missing another case of what you found somewhere and the last point isn't being checked.

[2020-10-09 15:13] mpowelson opened #406 "Offline motion plan generator / executor"
What is the status of tesseract_ignition? One thing that would be pretty useful is if we had a way to generate motion plans offline and store them as xml (very exciting that we can serialize TCL now). Ie, if we could use the manipulator tool to move the robot around in sim (or real robot) and create plans between points and then click a button to save them to XML as a composite of move instruction

[2020-10-09 17:06] mpowelson commented on #404
@Levi-Armstrong In discrete_contact_check_process_generator.cpp should we be setting the active links based on the ManipulatorInfo? That isn't handled anywhere else is it?

[2020-10-09 17:16] Levi-Armstrong commented on #404
I believe so.

[2020-10-13 20:09] mpowelson commented on #358
@Levi-Armstrong I thought this might be interesting to you now that the manipulator manager has been added.

![Screenshot from 2020-10-13 14-07-58](https://user-images.githubusercontent.com/12128406/95910693-ad90ce00-0d5d-11eb-8758-2c63bb232e64.png)

[2020-10-13 20:34] mpowelson opened #408 "Performance Improvements"
Using this thread to keep track of improvements found while profiling

- [x] Get rid of the environment clone in WaypointInCollision
- [x] Add clone cache as discussed [here](https://github.com/ros-industrial-consortium/tesseract_ros/issues/51) (See PR #440)
- [x] Get rid of duplicate environment clone in Tesseract->clone (PR #409)

[2020-10-13 20:41] mpowelson commented on #408
Starting off with a callgrind calltree of a motion planning pipeline. For this particular run the processes were
- FixStateBounds - 1.6%
- FixStateCollision - 69.9%
- SimpleMotionPlanner - 2.89%
- DiscreteContactChecker - 19.10%
- IterativeSplineParameterization - 6.34%

Main takeaway: **We need to get rid of the environment clone in WaypointInCollision**

![pipeline](https://user-images.githubuse

[2020-10-14 13:10] Levi-Armstrong commented on #408
@mpowelson I could not find where you posted the performance for the tesseract clone but it did not look correct the functions it was calling so I took a look. If you replace the clone method with what is below does it performa better?

[code]

[2020-10-14 14:16] mpowelson commented on #408
Sorry, I posted it in the other (closed) thread about cloning the environment. I'll post it here to keep it all in one place.

![Screenshot from 2020-10-13 14-07-58](https://user-images.githubusercontent.com/12128406/96001614-75d56500-0df5-11eb-8ea0-66e8f549e324.png)

[2020-10-14 14:21] Levi-Armstrong commented on #408
Ah, thank you. I believe the change above should improve the performance of the clone.

[2020-10-14 14:58] mpowelson commented on #408
Yeah that does look like it should be faster. Before we were cloning the environment twice.

[2020-10-14 15:16] Levi-Armstrong commented on #408
It sure was.

[2020-10-14 16:27] mpowelson commented on #408
I added a benchmark for cloning. It is not comprehensive, but cloning a Tesseract initialized with the lbr iiwa srdf. I change the clone to this
[code]
Before:
[code]

After:
[code]

[2020-10-14 16:45] Levi-Armstrong commented on #408
That looks a lot better.

[2020-10-14 17:04] mpowelson commented on #378
It looks like this has been addressed, so I am going to close it.

[2020-10-14 17:04] #378 closed

[2020-10-14 17:42] mpowelson commented on #380
@Levi-Armstrong I think I am going to take a stab at this.

[2020-10-15 01:21] mpowelson opened #410 "Instructions don't pass profiles to results"
I'm not sure where this should best be fixed, but the problem is that the results in the ProcessInput don't get populated with the same profile as the instructions (inputs). This means that any process that uses the results profile (currently only time parameterization I think, but potentially execution) always uses the defaults.

[2020-10-15 02:11] Levi-Armstrong commented on #410
I would believe it is the responsibility of the seed generator to fill this information out. I just checked the simple planner generators and they are not setting them.

[2020-10-15 02:46] mpowelson commented on #410
Yeah. I am using `generateSkeletonSeed`. It looks like it sets the Plan/Move Instruction profiles but not the composites.

[2020-10-15 02:47] mpowelson commented on #410
Nevermind. It looks like it is. Maybe I'm doing something wrong on my side.

[2020-10-15 16:12] mpowelson commented on #408
I was thinking about trying out https://github.com/yse/easy_profiler for getting real world timings of a motion planning pipeline. Any thoughts? Have you used anything else? This one looks simple enough to use. It claims it only slows it by 1-2%

[2020-10-15 17:13] Levi-Armstrong commented on #408
Looks good to me. I did add the ability to turn on profiling for just the taskflow which outputs a json file in the temp directory to load in the profTaskflow tool. Thought this could be used through the code. Is it actively being maintained?

[2020-10-15 17:26] mpowelson commented on #408
I forgot about the taskflow profiling. That might be useful to look at too.

[2020-10-15 17:28] mpowelson commented on #408
Code frequency has definitely fallen off, but it was last released end of 2019. It may just be mature enough that it doesn't need much more development these days. That said, I just picked the top google hit for "lightweight C++ profiler github"

[2020-10-19 17:57] mpowelson commented on #380
See #415

[2020-10-20 14:40] mpowelson commented on #339
@Levi-Armstrong What would you think about starting a github project for getting feature/CommandLanguage merged in? I'm really not sure what is on our roadmap for getting that relatively stable. We could tag a minor release before merging and even keep a legacy branch around for a while if we need to. It seems that Tesseract/Trajopt has been getting some more traffic the last few weeks. It might b

[2020-10-20 19:09] Levi-Armstrong commented on #339
Sound great!

[2020-10-20 23:44] mpowelson commented on #339
@Levi-Armstrong I created the project. Not sure what all we need to add.

[2020-10-20 23:44] mpowelson opened #418 "Make tesseract_ros examples compatible with feature/CommandLanguage"

[2020-10-20 23:45] Levi-Armstrong commented on #339
I start adding things and we can label things as required versus nice to have for a 1.0 release.

[2020-10-20 23:49] mpowelson opened #419 "Release binaries"
A few options. @Levi-Armstrong Feel free to edit to add more
- ROS-I PPA
- Snap package

Ideally this would happen in CI as if it is manual we are never going to do it.

[2020-10-20 23:49] mpowelson commented on #66
@Levi-Armstrong Is anything here still relevant or should we close?

[2020-10-21 01:07] Levi-Armstrong commented on #66
I would just move the sub graph items to the new one and we can mark themes nice to have. We already support adding scene graphs to another but the are not modeled as a sub graph that boost does support.

[2020-10-21 15:49] mpowelson opened #420 "Add sub graph functionality to scene graph"
Tesseract already supports adding scene graphs to other scene graphs. Additional enhancements be done.

- [ ]  Add sub graph functionality to scene graph
- [ ]  Add sub graph solver functionality to tesseract_environment. The idea behind this to mimic actual hardware in the environment.

Taken from #66

[2020-10-21 15:49] mpowelson commented on #66
All issues have been addressed with the exception of #420.

[2020-10-21 15:49] #66 closed

[2020-10-21 15:57] mpowelson commented on #410
To turn this issue into concrete action items.
- [ ] Unit test verifying that generateSkeletonSeed and any other seed generators set the profile

[2020-10-21 16:07] mpowelson opened #421 "Consider making tesseract_planning its own repo."
We already split tesseract_ros/ros2 into their own repos. tesseract_planning has a lot of dependencies that core tesseract does not need. Further, I would expect that tesseract_planning will continue to be under significant development for a while, but hopefully core tesseract will be more stable. I see this as particularly useful if we can address #419. Then developers could build just tesseract_

[2020-10-21 16:51] mpowelson opened #422 "LVS interpolation segfaults on (j2-j1).norm()"
This specific case occurs in lvs_interpolation.cpp line 407. To replicate, run the tesseract_process_managers unit tests switching the simple planner to use the LVS profile in simple_motion_planner.cpp (line 75). After #412 is merged, change

[code]
to
[code]

[2020-10-23 22:24] mpowelson opened #427 "Add generic collision config that all collision processes use."
These should all use the same config type for defining contact distance, special collision pairs, etc.

- [x] ContinuousContactCheckProcessGenerator
- [x] DiscreteContactCheckProcessGenerator
- [x] FixStateCollisionProcessGenerator
- [x] Motion planners

[2020-10-26 23:25] mpowelson opened #429 "How to add toleranced joint position using TCL?"
I don't think it is possible at the moment. The question to me is do we

1) Add a TolerancedJointWaypoint
2) Add optional tolerances to JointWaypoint
3) Handle this in a profile

My use case is a freespace trajectory like this {joint_cnt, toleranced via point, ..., toleranced via point, joint_cnt}. My preference I think would be 1 or maybe 2 so that the trajectory could still all use the same prof

[2020-10-27 03:42] Levi-Armstrong commented on #429
I believe the original plan was for the profile to handle things like this. I think either way you have to either change the waypoint or the profile. I also think it can get confusing if we start adding planner specific information in the waypoint versus using the profiles.  Do you have more details on the use case? I could see an issues with using the profile approach if the tolerance is constant

[2020-10-27 17:33] mpowelson commented on #429
Yeah. I get not wanting to add too much to the waypoints. However, I also wouldn't necessarily call tolerances planner specific. Some planners may not support tolerances, but it is still specific to the task at hand rather than the solution method.

Regardless of how we implement it, this does demonstrate a bit of a limitation in the profile system in that to change a parameter at execution time y

[2020-10-27 17:42] mpowelson commented on #410
I added a unit test in #431. However, in doing that I realized the real problem. The profile is set correctly in generateSkeletonSeed. However that isn't passed on to the MoveInstructions in the simple planner does not pass the profile from the composite to the individual move instructions.

[2020-10-27 17:57] mpowelson commented on #410
In fact, now that I am looking at this, it isn't clear to me why we need the generateSkeletonSeed step. The simple planner should recursively handle composite instructions.

To address this issue though, I think I am going to change the step generators to take a PlanInstruction to get meta data from instead of just the manipulator info. Then we can set the profile and description as well.

[2020-10-27 18:26] mpowelson opened #432 "Erroneous clang-tidy errors when building tesseract_collision"
I mentioned this on a pull request but want to open an issue so we will have a record of the solution if/when we figure out what is going on. When building tesseract_collision with `-DTESSERACT_ENABLE_CLANG_TIDY=ON -DTESSERACT_ENABLE_TESTING=ON` I get a bunch of misc-unused-parameters warnings that cause the build to fail. They are all in headers like bullet_utils.h, common.h, types.h, and fcl_uti

[2020-10-27 18:28] mpowelson commented on #432
I just remembered the search feature and realized that this is probably a duplicate of #198

[2020-10-27 18:42] Levi-Armstrong commented on #432
Could you try removing the target_clang_tidy and target_code_coverage for library `${PROJECT_NAME}_core ${PROJECT_NAME}_test_suite and ${PROJECT_NAME}_test_suite_benchmarks` in tesseract_collision?  Now that I am looking at it these probably should not be added to interface targets.

[2020-10-27 18:43] mpowelson commented on #432
Ok. I'll try that. For the record. Because of #198 I already have clang-6 installed and the symlink was fine. So that didn't fix it.

[2020-10-27 18:46] mpowelson commented on #432
That didn't seem to help

[2020-10-27 19:00] mpowelson commented on #410
Actually, base_instructin is already what we want. I'm not sure why the manipulator info is being passed in anyway. There is some logic going to with manip_info.getCombined to combine manipulator infos. Regardless, I should just be able to add `setProfile(base_instruction.getProfile());`

[2020-10-27 23:39] mpowelson commented on #432
I just reinstalled OpenMP and it seems to work now.  Installing with apt said something was broken. When I ran `sudo aptitude install libomp-dev` I got this

[code]
I followed the recommendation and it seems to work. We'll see if something else pops up broken later.

[2020-10-28 00:11] #432 closed

[2020-10-28 00:13] #391 closed

[2020-10-28 22:03] mpowelson commented on #427
@Levi-Armstrong Do we still want the coeff or is just the distance sufficient here. I'm thinking that is fine.
So instead of this from trajopt
[code]
It will be this
[code]

[2020-10-28 23:12] Levi-Armstrong commented on #429
Sounds good, lets add tolerances to the CartesianWaypoint and JointWaypoint or should we create new waypoint Types?

The second item, since the profiles can also be serialized what about adding support for adding profiles to the planning request?

[2020-10-29 01:46] mpowelson commented on #429
I don't really feel strongly about whether or not they should be their own types. Adding it to the existing ones would probably be easiest.

Yeah I was thinking it might be nice to have some way to overwrite the profiles. I haven't given it too much thought as to where that should go.

[2020-10-29 19:30] mpowelson opened #435 "DiscreteContactCheckProcessGenerator returning 0 when contact distance > 0"
@Levi-Armstrong I am getting some processes that have DiscreteContactCheckProcessGenerator return 0 but when the contact distance prints out, it is > 0. The contact checkers shouldn't be returning "collisions" with distances greater than 0 should they? Or is that distance before inflation?

[2020-10-29 20:11] Levi-Armstrong commented on #435
That is the actual distance between the two shapes.

[2020-10-29 20:39] mpowelson commented on #435
Ok. So as long as that number is smaller than 2x the safety margin, that is correct?

[2020-10-29 21:26] Levi-Armstrong commented on #435
It should be smaller than 1x the safety margin because the safety margin (contact distance threshold is the relative distance). I also think we should use a different name that safety margin because you could use negative numbers, maybe ContactThresholdData?

The current approach if you set a contact distance threshold of 0.1m it will expand all shapes bounding box by 0.05m.

Example:
global conta

[2020-10-29 22:28] mpowelson commented on #435
contact_distance is what is used inside the contact managers. SafetyMargin is what was in TrajOpt.

[2020-10-29 23:21] Levi-Armstrong commented on #435
Yea, I think that was a poor name choice on my part. When I see safety margin I automatic assume the parts should not be in contact which may not always be the case.

[2020-10-30 21:56] mpowelson commented on #435
@Levi-Armstrong What prompted this was me chasing an issue with inconsistency between `FixStateCollisionProcessGenerator` and `DiscreteContactCheckProcessGenerator`. I'm getting plans where FixStateCollisionProcessGenerator  with distance set to 0.005 will say it is not in collision, but then a DiscreteContactCheckProcessGenerator set to 0.004 right after that says it has a distance of 0.003907 an

[2020-10-30 22:07] Levi-Armstrong commented on #435
I think your at the numerical limits of the convex to convex algorithm. If you increase the fix start state to 0.008 does it go away? Also FCL's convex to convex seems to be more accurate at the range of 0.001.

[2020-10-30 22:13] mpowelson commented on #435
Even with the double precision bullet? It's only very occasionally, so it is hard to replicate. I could probably increase it a little bit, but parts of the links do get pretty close, so it can't be 0.02 for instance.

[2020-10-30 22:15] mpowelson commented on #435
If that really is the case, should we add the ability to change the units used in Bullet? Ie, like scale everything up by 10x or something? 5mm doesn't seem that small.

[2020-10-30 23:44] mpowelson opened #437 "Inconsistency between collision checking processes"
This issue is to document discussions with @Levi-Armstrong about inconsistencies between processes in a motion planning pipeline with regards to collision checking. I'm documenting them here for others to find with similar problems.

From #435:

There are a couple of things in play here.

- Bullet's collision checking algorithm is non-deterministic
- Bullet relies on a settable threshold to stop t

[2020-11-02 17:23] #410 closed

[2020-11-05 21:00] mpowelson commented on #404
#426 checked off the last thing in the list, so I will close this

[2020-11-05 21:00] #404 closed

[2020-11-09 23:00] Levi-Armstrong opened #441 "Update StateSolver to leverage KinematicLimits data structure"

[2020-11-12 22:06] Levi-Armstrong commented on #422
@mpowelson Has this been resolved with the latest changes to LVS?

[2020-11-12 22:48] mpowelson commented on #422
I'm not sure. Like I said though, if you change the simple planner to use LVS instead, the tests should start failing. So if you are using it, then I'd guess you probably fixed it.

[2020-11-12 23:24] Levi-Armstrong commented on #422
Yea it is the default now and everything is working. I will close, please reopen if you try it again and experience issues.

[2020-11-12 23:24] #422 closed

[2020-11-12 23:25] Levi-Armstrong commented on #380
Integrated in #415.

[2020-11-12 23:25] #380 closed

[2020-11-13 20:07] mpowelson commented on #408
I think "Get rid of the environment clone in WaypointInCollision" may have been already done, but I did a bit of cleanup in #444.

[2020-11-13 21:12] mpowelson opened #445 "JointLimits grow over time"
@Levi-Armstrong Using our new change joint limits code I am getting errors like this. It seems every time we call it, the limits matrix in the forward kinematics object grows by n_dof

[code]

[2020-11-13 21:17] mpowelson commented on #445
KDL setLimits looks fine to me. I'm thinking it must be upstream of there.

[2020-11-13 21:22] Levi-Armstrong commented on #445
Are you applying it using the command?

[2020-11-13 21:30] mpowelson commented on #445
I'm not doing it via ROS. I'm using `tesseract->getEnvironment()->changeJointPositionLimits(const std::string& joint_name, double lower, double upper)`

[2020-11-13 21:31] Levi-Armstrong commented on #445
I see the issue. In the kinematics init method it should be clearing out the internal data member.. So when we call init in the update the data is getting appended.

[2020-11-13 21:32] mpowelson commented on #445
Ok. Well I just wrote a unit test that fails. I'll change that and make sure it passes now.

[2020-11-13 21:35] mpowelson commented on #445
Do you want me to just do kdl_data_ = KDLChainData() or should we add a clear method?

[2020-11-13 21:54] Levi-Armstrong commented on #445
I think that should do it. Everything else looks to get overridden.  I am also good with the clear method.

[2020-11-13 21:56] mpowelson commented on #445
Ok. That did seem to fix it. I'll probably just leave it to that for now.

[2020-11-13 23:22] Levi-Armstrong commented on #445
Addressed by #446

[2020-11-13 23:22] #445 closed

[2020-11-16 16:29] #435 closed

[2020-11-16 16:39] mpowelson commented on #427
For reference, we eliminated the coeff here.

[2020-11-16 16:42] mpowelson commented on #427
What do we want in this datastructure? Right now I have (I'll keep this post updated)

[code]

[2020-11-17 00:34] mpowelson commented on #427
@Levi-Armstrong What would you think about me adding a CollisionEvaluatorType in Tesseract sort of like we have in trajopt (it would probably replace it when we refactor into using trajopt_ifopt). It would replace the enable_lvs bool above. Something like this.
[code]
The issue here of course would be if someone specifies CONTINUOUS but passes in a discrete contact manager to a utility. However, I

[2020-11-17 00:34] mpowelson commented on #427
Which makes me think, should I add a string for selecting the contact manager?

[2020-11-17 14:40] Levi-Armstrong commented on #427
So I don't believe I have every change change the coefficient on a link by link basis, so maybe we just have a single coefficient per collision cost/constraint?

[2020-11-17 14:48] Levi-Armstrong commented on #427
I like the addition of the CollisionEvaluatorType; would this replace the enable_lvs in the above data structure? I noticed the verbosity member and I have been thinking of something similar. I originally thought console bridge logger level was a global setting but I believe it is by process, so was wondering if we should remove passing in verbosity through the API and just use setting the logger

[2020-11-17 14:56] Levi-Armstrong commented on #427
Yea, I think we would just throw an exception if this happens and they will need to fix it.

[2020-11-17 16:12] mpowelson commented on #427
I'll have to look at how much work it would be to keep this functionality. I imagine it is not something most people would do like you said. Regardless, I took it out of the generic data structure. TrajOpt will likely still have a separate datastructure that either inherits from this one or contains one of these and adds some information like coeff, use_weighted_sum, etc.

That would probably make

[2020-11-17 17:05] Levi-Armstrong commented on #427
Sounds goods.

[2020-11-24 23:52] mpowelson opened #457 "Won't build on Ubuntu Xenial 16.04 ROS Kinetic"
Preemptively adding this issue to document it. Support for Kinetic was dropped in commit 70211e1ffd2e37fad4b4185eb8993440fb318558 when C++17 was added to the tesseract_macros.

[2020-11-24 23:52] #457 closed

[2020-11-25 03:41] Levi-Armstrong commented on #236
I could not find anything in the google style guide, but found the ROS 2 documentation below. I don't care to much about this but I had to choose it would be the shorter version, though we could add both, but only use one internally.

[Pointer types](https://design.ros2.org/articles/generated_interfaces_cpp.html)

The struct contains typedefs for the four common pointer types plain pointer, std::s

[2020-11-25 03:43] #375 closed

[2020-11-25 08:26] gavanderhoorn commented on #457
Pedantic, but: this is not about Xenial or Kinetic, but about the version of the compiler used.

[2020-11-25 15:31] mpowelson commented on #457
Yeah. I suppose its important to note that it very well may still work. We just won't be supporting it. The CI build has been removed.

[2020-12-01 18:12] mpowelson opened #459 "OFKT state solver does not update joint limits"
Using `Tesseract->getEnvironment()->changeJointPositionLimits()` the limits get changed in the scene graph and it looks like in the limits_ MatrixX2d in the solver. However, the nodes_ store their own limits and those do not get updated.

This is the command in ofkt
[code]

[2020-12-01 18:25] mpowelson commented on #459
@Levi-Armstrong How do you think we should fix this? I kind of think we should just remove limits_ from the revolute node. None of the other joint types have them, and I kind of feel that joint limits should be handled higher up in the environment and the solver should just solve whatever it is given.

[2020-12-01 19:17] Levi-Armstrong commented on #459
I do not have issue with the change, though not sure what the impact is with the change since it is at a low level.

[2020-12-01 19:20] Levi-Armstrong commented on #459
Wait are you talking about removing it from the OFKT Revolute Node? If so that should not be an issue.

[2020-12-01 19:27] mpowelson commented on #459
Yes. That's what I was wanting to do. All it is used for is clamping the inputs to joint limits.

[2020-12-01 19:28] Levi-Armstrong commented on #459
I am good with you removing it.

[2020-12-03 01:04] #459 closed

[2020-12-08 04:34] johnwason opened #464 "-Werror=sign-conversion errors"
I am getting a bunch of errors in unit tests due to sign conversion errors, for example:

[code]

I am seeing these errors on my feature/CommandLanguagePython branch, but not on the base feature/CommandLanguage branch. I am not sure why this is occurring. The link to the branch is here: https://github.com/johnwason/tesseract/tree/feature/CommandLanguagePython
tesseract_python isn't building yet, s

[2020-12-08 20:54] Levi-Armstrong opened #465 "Apply PR #462 to feature/CommandLanguage branch"
[PR](https://github.com/ros-industrial-consortium/tesseract/pull/462/files)

[2020-12-09 15:13] Levi-Armstrong commented on #464
For lines 148  try adding a static_cast<std::size_t>(idx[0]) and 149 static_cast<std::size_t>(idx[1]) to see if the error goes away here.

[code]

[2020-12-10 16:30] mpowelson opened #469 "Consider adding a .clang-tidy file"
We could potentially add a file to use as defaults rather than listing it in tesseract_common. I temporarily added "-dump-config" to the cmake macro to generate a config from what we are currently setting. It is below

[code]
As an additional reference, [here](https://github.com/ros-planning/moveit/blob/master/.clang-tidy) is MoveIts config.

[2020-12-11 22:56] Levi-Armstrong commented on #146
It appears to building on windows now. Reopen if needed.

[2020-12-11 22:56] #146 closed

[2020-12-11 22:57] Levi-Armstrong commented on #464
The issue was that c-arrays were switched to std::array triggering the `-Werror=sign-conversion`

[2020-12-11 22:57] #464 closed

[2020-12-11 22:59] #184 closed

[2020-12-11 22:59] #147 closed

[2020-12-11 23:00] Levi-Armstrong commented on #148
addressed in #172

[2020-12-11 23:00] #148 closed

[2020-12-11 23:01] #296 closed

[2020-12-11 23:05] Levi-Armstrong commented on #381
@mpowelson You good with closing this issue or moving it to the discussions?

[2020-12-11 23:07] #408 closed

[2020-12-11 23:08] Levi-Armstrong commented on #347
Manipulator manager is now owned by the environment and changes are being stored in the command history.

[2020-12-11 23:08] #347 closed

[2020-12-12 00:15] #381 closed

[2020-12-12 02:07] #421 closed

[2020-12-12 02:08] #236 closed

[2020-12-12 02:11] Levi-Armstrong commented on #205
Reopen if still an issue, but I believe it has been solved in master.

[2020-12-12 02:11] #205 closed

[2020-12-19 20:11] Levi-Armstrong commented on #465
Changes have be added.

[2020-12-19 20:11] #465 closed

[2020-12-23 23:45] johnwason opened #491 "Add joint angle seed or joint configuration seed to CartesianWaypoint"
Currently the planners will randomly select a joint configuration when inverse kinematics are used for CartesianWaypoint. For 6 axis robots, there are 8 configurations. For higher joint numbers, the possible configurations are infinite. ABB uses "configuration" information. This document has a good explanation:

https://fzi-robot-interface-proposal.readthedocs.io/en/latest/industry/ABB.html

(I ha

[2020-12-23 23:51] johnwason commented on #491
https://fzi-robot-interface-proposal.readthedocs.io/en/latest/proposal/index.html

This proposal adds a "CartesianPosture" type:

[code]

[2020-12-24 19:29] Levi-Armstrong commented on #70
@wxmerkt and @arocchi We are about start going through the release process of Tesseract, Tesseract ROS, and TrajOpt and the first thing will be to figure out how to handle Bullet and FCL. The current software can be build with the OS version of Bullet now but the current released version is not built with double precision and for FCL it requires version 6.0 which is not released on ubuntu 20.04 ye

[2020-12-24 19:47] Levi-Armstrong commented on #70
@wxmerkt Should I be able to use your `ros-noetic-fcl-catkin` and could I assume I could do the same as you have for bullet? Create a bullet_catkin package and release it.

[2020-12-25 18:17] wxmerkt commented on #70
Hi @Levi-Armstrong,
For Noetic you can go directly with `ros-noetic-fcl` - this package is directly from upstream and got released after fcl_catkin once it was discovered that the Noetic-supported OS versions use different libfcl-dev package versions. The 'tricks' we used for fcl_catkin (isolation of headers in a sub-directory and CFG_EXTRAS to amend paths) aren't the best way to do things, but we

[2020-12-28 15:33] Levi-Armstrong commented on #491
The way we have been supporting this is within the profile. In tesseract_motion_planners we have a robot_config with will give you the robot configuration provided the joint names and joint values. This is used in the is state valid for ompl and descartes where either the configuration is excluded or different costs are assigned to wait the sampled states.

Though this would be useful if you wante

[2020-12-28 18:37] Levi-Armstrong commented on #70
@wxmerkt Thank you for the feedback. I was thinking of statically linking against bullet for tesseract_collision because I would like to use bullet built with double precision. Do you know if I will have issues using cmake `ExternalProject_Add` during the release process to build the static bullet libraries?

[2020-12-28 18:47] wxmerkt commented on #70
If you specify all required `build_dependency` (incl. git if not using a zip/tar ball) and use writable directories (`PROJECT_BINARY_DIR`), it should be fine I reckon? We use `ExternalProject_Add` for `fcl_catkin` and it works.

[2020-12-29 00:50] Levi-Armstrong commented on #70
@wxmerkt Thank you.

[2020-12-29 01:06] johnwason commented on #491
I don't know that a profile is the appropriate way to handle this, since the user may want to specify the configuration for each waypoint rather than for the entire program. Would a CartesianStateWaypoint be an input or an output of the planner? I am thinking of needing to specify the configuration for the input.

There may be a need to have a way to pass arbitrary parameters as part of the instru

[2020-12-29 01:28] Levi-Armstrong commented on #491
I guess it depends on what you are trying to accomplish with this. Is this intended to be used during planning or executions?

[2020-12-29 01:45] johnwason commented on #491
We will need to allow the user to pass a desired configuration during the planning request, like the example ABB method.

[2020-12-29 02:06] Levi-Armstrong commented on #491
If it is for planning then the recommended place is in the Plan Profile which is specific to each waypoint, where the composite profile is related to a collection of waypoints. I can provide an example on how are leveraging the profiles to control robot configuration on an ABB. Usually in our use cases we do not confine it to a single configuration but to a subset of configurations. If it is a Car

[2020-12-30 01:42] Levi-Armstrong commented on #441
addressed in pr #494

[2020-12-30 01:42] #441 closed

[2020-12-30 02:30] #65 closed

[2020-12-30 02:31] #287 closed

[2020-12-30 02:33] #406 closed

[2020-12-30 15:48] Levi-Armstrong commented on #469
It looks like this should work but it need the .clang-tidy for each package at the same level of the CMakeLists.txt for the package. We could create one for the repository and symbolically link it to each package. Though I have not tested this.

[2020-12-30 17:52] mpowelson commented on #469
Would we then be able to use the cmake_common_scripts macro? Since we wouldn't have to define our args in the cmake?

[2020-12-30 17:55] mpowelson commented on #469
I guess we wouldn't be able to only define some things as errors when running tests

[2020-12-30 18:24] Levi-Armstrong commented on #469
Ah, I did not think of that. I will see if we can pass the file path then we can have a config for normal building and one for tests.

[2020-12-30 18:24] Levi-Armstrong commented on #469
Though if it is required to pass CI then it may make sense to have them always be errors.

[2020-12-30 19:53] Levi-Armstrong commented on #469
What do you think about making them always errors?

[2020-12-30 19:56] mpowelson commented on #469
I think that is probably fine. To be honest, I don't think I knew that they were only errors when you build the tests until I looked at the macro.

[2020-12-30 20:11] Levi-Armstrong commented on #469
Yea, I think when it was originally setup there was not a way to disable clang-tidy but now that you can define `TESSERACT_ENABLE_CLANG_TIDY=ON/OFF` it does not seem necessary.

[2020-12-31 00:45] mpowelson commented on #469
Looks like you [can specify a config](https://releases.llvm.org/4.0.0/tools/clang/tools/extra/docs/clang-tidy/index.html)

[code]

[2020-12-31 00:57] Levi-Armstrong opened #498 "Motion Planner Profiles do not check the order of joints in Joint or State Waypoint."
It currently assumes that they are in the same order the kinematics object expects.

[2020-12-31 01:47] mpowelson commented on #469
Here is the new file after the changes for clang-tidy 10. I could not get it to find the file though. I tried putting it in the root of the repo and in each individual package. Neither seemed to work. If you want to take a look, go for it, but at this point I'm thinking we should just stick with what we have.
[tesseract.clang-tidy.txt](https://github.com/ros-industrial-consortium/tesseract/files/5

[2020-12-31 16:26] mpowelson opened #501 "Fix Profile XML parsing and writing"
Xml parsing is broken on feature/CommandLanguage due to the API changes. I don't think I would let that stop us from merging it into master, but we might want to fix that at some point. Its also worth noting that the tests don't detect that it is broken, which indicates a flaw there as well.

Search for the TODOs in tesseract_motion_planners and it should come up.

[2021-01-01 01:01] johnwason commented on #419
Conda is also an option. It claims to be platform independent, and would be good for Python integration. I don't have any experience using it.

[2021-01-01 01:02] johnwason commented on #419
Also deploying PyPi wheel packages. This will require statically liking in all libraries and dependencies in to the Python C++ module.

[2021-01-01 06:02] Levi-Armstrong commented on #419
Yea, I recently started looking at Conda-Forge but not sure where to start. Have you every release anything on conda?

[2021-01-02 10:59] traversaro commented on #419
Regarding conda-forge, I was looking into packaging some of the dependencies of tesseract (in particular opw_kinematics and ifopt), so I would be happy to give an hand in packaging also tesseract.

At a first glance all the external dependencies used in https://github.com/ros-industrial-consortium/tesseract_ext are already available in conda-forge and updated to the latest version, so w.r.t. to th

[2021-01-02 16:27] Levi-Armstrong commented on #419
@traversaro That is great news. We are cleaning up a few things and I plan to have the feature/CommandLanguage brach merged into master this week. We will create a tag prior to merging in this branch for those needing access to the current master. We will then create new tag release for the master after the merge of feature/CommandLanguage. I will reach out very soon once everything is merged and

[2021-01-04 06:32] johnwason opened #504 "addJoint() in Environment"
`addJoint()` is implemented in the scene graph, but not exposed to `Environment`. It looks like the idea is to have joints be added with links. This is a safer design, but prevents the creation of closed kinematic loops. Is this an intentional design choice?

[2021-01-04 13:54] Levi-Armstrong commented on #504
Yea, it was intentional until a state solver was added that supports closed kinematic loops. This was the thought around adding direct support for subgraph where each subgraph would be equivalent to a model which could have its own state solver. Do you a current use case?

[2021-01-04 20:31] johnwason commented on #504
I am working on the Robot Raconteur tesseract server and noticed it was missing. I don't think that most planners support closed loops, so I will probably leave off the function. I wanted to make sure.

[2021-01-04 20:31] #504 closed

[2021-01-05 00:39] Levi-Armstrong commented on #498
Addressed by #497

[2021-01-05 00:39] #498 closed

[2021-01-05 00:54] Levi-Armstrong opened #507 "Does tesseract_python require yaml-cpp and jsoncpp?"
@johnwason Does tesseract_python required yaml-cpp and jsoncpp? It is listed in the tesseract_python_module.cmake but not listed in the package.xml so not sure if they should be added or if they should be removed from tesseract_python_module.cmake.

[2021-01-05 00:57] johnwason commented on #507
jsoncpp is required. I think yaml-cpp is there to fix some build issues I have run in to. These are dependencies of the packages already included in package.xml so I don't think they need to be explicitly included. They should be implicitly included from the other dependencies.

[2021-01-05 18:13] #427 closed

[2021-01-05 21:42] mpowelson commented on #418
Should be resolved by[ this pr](https://github.com/ros-industrial-consortium/tesseract_ros/pull/54)

[2021-01-06 00:36] mpowelson opened #510 "Unable to access ProcessInfoMap through planning server"
This is in the ProcessInput but is not in the ProcessPlanningFuture. I'm thinking we should just add it to the future. It looks like

[code]

[2021-01-06 00:39] mpowelson commented on #510
@Levi-Armstrong

[2021-01-06 01:02] Levi-Armstrong commented on #510
Sound good.

[2021-01-06 01:02] mpowelson commented on #510
Well it isn't going to be that simple. The map is stored in a threadsafe container in the ProcessInput as a shared_ptr. I suppose we can pass the container into ProcessInput when we construct it and then add a pointer to it to the ProcessPlanningFuture as well. Maybe it should go in the ProcessInterface? Then I could add the getters as well, so users don't have to know about the container.

On a s

[2021-01-06 01:42] Levi-Armstrong commented on #510
I agree based in the process generator versus taskflow generator. I am good with a rename. Might as well do it now. Along those same lines should ProcessInput be renamed to TaskflowInput? Also should we rename anything else in the core folder? I just prefixed everything with process without really thinking about it.

[2021-01-06 01:46] mpowelson commented on #510
We should probably open another issue to figure out what everything should be called. ProcessGenerators should probably be TaskGenerators. Then we would have TaskGenerators, TaskflowGenerators, and the ProcessPlanningServer + accessories.

[2021-01-06 01:48] mpowelson commented on #510
I can submit a PR tomorrow to address this issue. The main thing we need to decide though is do we want it in the ProcessInterface or the ProcessPlanningFuture directly?

[2021-01-06 01:50] mpowelson opened #511 "Address Naming in Tesseract Process Managers"
The naming of some classes don't make a lot of sense as they are fragments of legacy code.

"We should probably open another issue to figure out what everything should be called. ProcessGenerators should probably be TaskGenerators. Then we would have TaskGenerators, TaskflowGenerators, and the ProcessPlanningServer + accessories."

_Originally posted by @mpowelson in https://github.com/ros-industr

[2021-01-06 03:55] Levi-Armstrong commented on #510
I don't have particular preference, but if it is added to the interface then we should update the documentation. It does seem like the simplest solution.

[2021-01-06 03:58] Levi-Armstrong commented on #511
Current Idea:

ProcessGenerator -> TaskGenerator
ProcessInterface -> TaskflowInterface

Are there any other to be renamed?

[2021-01-06 03:59] Levi-Armstrong commented on #511
Would we also rename?

ProcessInfo -> TaskInfo
ProcessInput -> TaskflowInput

[2021-01-06 04:11] mpowelson commented on #511
I'd call ProcessInput TaskInput (rather than taskflow input) since we divide it up into sub ProcessInputs inside the taskflow generator before sending it to each Task.

I think ProcessInteface, ProcessPlanningFuture, ProcessPlanningRequest, and ProcessPlanningServer all all fine since they refer to a robotic process.

So we have things that refer to

- Taskflow Tasks
- Taskflow Taskflows
- Robotic

[2021-01-06 04:14] Levi-Armstrong commented on #511
Sounds good

[2021-01-06 05:02] Levi-Armstrong commented on #507
Addressed by #508

[2021-01-06 05:02] #507 closed

[2021-01-06 05:04] Levi-Armstrong opened #513 "Port this MoveIt PR Constrained OMPL Planner"
This [PR](https://github.com/ros-planning/moveit/pull/2273) should be straight forward port since we recently had something similar in master.

[2021-01-06 14:30] Levi-Armstrong commented on #317
@johnwason I believe the solution is to update the documentation that all models must be exported with Z-UP configuration to work correctly?

[2021-01-06 16:04] mpowelson commented on #511
@Levi-Armstrong Are you addressing this or would you like me to?

[2021-01-06 16:16] Levi-Armstrong commented on #511
If you have time that would be great, if not I may be able to get later this week. I am currently working on releasing the dependencies.

[2021-01-06 17:54] mpowelson commented on #511
Summary
- ProcessGenerator -> TaskGenerator
- ProcessInterface -> TaskflowInterface
- ProcessInfo -> TaskInfo
- ProcessInfoContainer -> TaskInfoContainer
- ProcessInput -> TaskInput

[2021-01-06 18:28] johnwason commented on #317
@Levi-Armstrong Yeah, that is probably the best solution. Blender can do some strange transforms during export to enforce the Y-up convention, which is the convention for game engines. Collada has a flag for Y-up or Z-up, but ROS handles Y-up inconsistently so it is best to ignore it. glTF2 is supposed to always be Y-up, but in practice most models are Z-up.

[2021-01-06 18:32] johnwason commented on #317
Another interesting tidbit, old style game engines used screen coordinates with 0,0 in the lower left corner, X to the right, Y up, and Z into the screen. This led to a left hand coordinate system. The inconsistent use of left and right handed coordinate systems make working with game engines annoying, although newer ones are using right handed coordinate systems.

[2021-01-07 14:19] Levi-Armstrong commented on #511
This has been addressed in #514

[2021-01-07 14:19] #511 closed

[2021-01-07 14:20] Levi-Armstrong commented on #510
Addressed in #514

[2021-01-07 14:20] #510 closed

[2021-01-07 17:12] mpowelson commented on #429
Addressed in #443

[2021-01-07 17:12] #429 closed

[2021-01-07 17:14] #418 closed

[2021-01-07 17:31] mpowelson commented on #297
I went through and added some to the list looking at [CodeCov](https://codecov.io/gh/ros-industrial-consortium/tesseract) after the command language merge. Some of these should be pretty simple

[2021-01-09 17:16] Levi-Armstrong commented on #354
Now that feature/CommandLanguage branch has been merged into master this should be resolved.

[2021-01-09 17:16] #354 closed

[2021-01-09 17:18] Levi-Armstrong commented on #339
remaining items have been moved to the Unit Test TODO #297

[2021-01-09 17:18] #339 closed

[2021-01-09 17:21] Levi-Armstrong commented on #70
It looks like fcl 6.0 is released on ros noetic build farm `ros-noetic-fcl` and the Ubuntu team now release bullet for both float32 and float64. The method for using float64 version over the float32 is shown below which should resolve this issues at least for noetic.

[code]

[2021-01-09 17:21] #70 closed

[2021-01-11 01:48] Levi-Armstrong opened #521 "ROS Buildfarm Release "Noetic""
- [ ] cmake_common_scripts
- [ ] opw_kinematics
- [ ] descartes_light
- [ ] osqp
- [ ] osqp_eigen
- [ ] qpOASES
- [ ] tesseract
- [ ] tesseract_planning
- [ ] tesseract_ros
- [ ] tesseract_python

[2021-01-12 18:12] johnwason commented on #419
It is probably worth creating `vcpkg` portfile as well. I have found it is the best way to statically link a program, which is useful when creating a plugin or a final product.

[2021-01-21 20:17] johnwason commented on #419
The conda ROS packages don't support Windows. It will be necessary to check the dependencies for tesseract to make sure they have Windows build scripts.

[2021-01-22 08:00] traversaro commented on #419
To which package are you referring? The one in conda-forge such as are actually kind of deprecated (not sure how we could make clear this to users @wolfv @Tobias-Fischer) as it turns out that maintaining a large collection of software with no ABI compatibility policy on a distro such as conda-forge that heavily relies on ABI policies for ensure smooth transitions from one version to another (see h

[2021-01-23 00:34] johnwason commented on #419
I am looking at this package as an example:

https://github.com/conda-forge/ros-roscpp-feedstock

The package builds the library from source rather than using a pre-build ROS binary, so I don't think there is an ABI issue.

https://github.com/conda-forge/ros-roscpp-feedstock/blob/master/recipe/build.sh

This recipe doesn't have a `bld.bat` file, so it can't be built on Windows.

[2021-01-23 08:30] wolfv commented on #419
Hi @johnwason thanks for looking at conda!
Indeed, our original ROS 1 packages on conda-forge did not build on Windows. However, we have started our own "channel" where we upload ROS packages, and build them on Azure Pipelines (very similar to how conda-forge operates).

You can find the channel on Anaconda.org here: https://anaconda.org/RoboStack/repo

As you can see, we have desktop-full for Win

[2021-01-23 22:54] johnwason commented on #419
Thanks @wolfv

Currently the core tesseract, tesseract_planning, and tesseract_python don't depend on ROS. There is a separate tesseract_ros repo that does. @Levi-Armstrong do you plan on using one of the main channels or creating a ROS Industrial specific channel?

I am currently the technical lead on a team developing an open-source teach pendant based on Python, Tesseract, and Robot Raconteur,

[2021-01-25 08:07] wolfv commented on #419
That sounds great @johnwason! Using the conda constructor, you could even create a single-file installer for the project.

Does anyone of you want to start a PR to staged recipes? Otherwise I can look into it.

[2021-01-25 23:04] johnwason commented on #419
@wolfv I am looking at the RoboStack GitHub. How does vinca select which packages to build? If tesseract is released to ROS, would it automatically pull the packages into RobotStack? Is it possible to use a catkin tools workspace with conda and have it build separate conda packages for each ROS package using vinca with the GitHub source repos as upstream?